{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>
            </div><!-- /.box-header -->
            <div class="box-body no-padding">
                <table class="table table-striped" id="users-table">
                    <tr>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Active</th>
                    </tr>
                    {% for user in users %}
                        <tr>
                            <td>{{user.username}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.role}}</td>
                            <td>
                                {% if user.isActive == 1 %}
                                    <i data-id="{{user.id}}" class="fa fa-check text-success toggle-active fake-link"></i>
                                {% else %}
                                    <i data-id="{{user.id}}" class="fa fa-ban text-danger toggle-active fake-link"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $(".fake-link").click(function(e)
        {
            $id = $(this).attr("data-id");
            $source = $(this);
            //processTransaction($(this).html());
            if($source.hasClass("fa-check")) {

                //Need to disable
                $.post('{{ path('ajax_disable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-check");
                        $source.removeClass("text-success");
                        $source.addClass("fa-ban");
                        $source.addClass("text-danger");
                    }
                , "html");
            } else {

                //Need to enable
                $.post('{{ path('ajax_enable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-ban");
                        $source.removeClass("text-danger");
                        $source.addClass("fa-check");
                        $source.addClass("text-success");
                    }
                , "html");
            }
        });
    });

    function processTransaction($id)
    {
        $.post('{{ path('ajax_process_transaction') }}', {id: $id},
            function(response)
            {
                $( "#transaction_modal_content" ).html( response );
                $('#transaction_modal').modal({backdrop: "static"});
            }
        , "html");
    }

</script>

{% endblock %}
