{% extends 'secure_base.html.twig' %}

{% block body %}



<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-clipboard" aria-hidden="true"></i> Automatic Authorization</h3>
                <p style="margin-left: 12px;">
                    Automatic authorization uses a contact list from a provided API to manage who has access to which roles. <br />
                    You can create an API <a style="color:#6964f7" href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask=16">HERE</a>. (select a specific character and set no expiry)<br />
                    If a pilot has multiple contact matches, the most specific one takes priority (personal contact is higher priority than corp contact, etc.)
                </p>
            </div>
            <div class="box-body">

                <div class="row">

                    <div class="col-md-12">
                        <p>Please provide a Character API key and vCode to pull contacts/standings from</p>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="contact-api-key" name="contact-api-key"
                               placeholder="Character API Key" value="{{ apiKey }}">
                        <br />
                    </div>
                    <div class="col-md-8">
                    </div>

                    <div class="col-md-9">
                        <input type="text" class="form-control" id="contact-api-code" name="contact-api-code"
                               placeholder="Character API Verification Code" value="{{ apiCode }}">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        {% if contactSummary|length <= 0 %}
                        <input type="button" class="form-control btn btn-primary" id="contact-button"
                               name="contact-button" value="Check API">
                        {% else %}
                            <input type="button" class="form-control btn btn-primary" id="contact-button"
                                   name="contact-button" value="Update API">
                        {% endif %}
                    </div>

                </div>

                {% if contactSummary|length > 0 %}
                    <br /><br />
                    <div class="row">

                        <div class="col-md-12">
                            <table class="table table-striped images-table top-margin-20">
                                <thead>
                                    <tr>
                                        <th style="width:27%;">Contact Level</th>
                                        <th style="width:35%;">Applied Role</th>
                                        <th>Number of Contacts</th>
                                        <th style="width:7%;">Last Updated</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for id,level in levels %}
                                        <tr>
                                            <td>{{ level }}</td>
                                            <td>
                                                <select data-id="{{id}}" data-name="{{ level }}" data-type="contact"  name="autoRoleSelect" class="form-control roleSelect" style="height: auto; width:auto;">
                                                    {% for role in roles %}
                                                        {% if role == contactSummary[level].selectedRole %}
                                                            <option value="{{ role }}" selected>{{ role }}</option>
                                                        {% else %}
                                                            <option value="{{ role }}">{{ role }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                            <td>{{ contactSummary[level].contactCount }}</td>
                                            <td>
                                                {% if contactSummary[level].updatedDate != null %}
                                                    {{ contactSummary[level].updatedDate|date("m/d/Y") }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-clipboard" aria-hidden="true"></i> Manual Authorization</h3>
                <p />
                <p style="margin-left: 12px;">
                    Manual authorization uses manually configured corporation/alliance affiliations to manage who has access to which roles. <br/>
                    Manual authorization is additive to Automatic Authoriztion; A manual authorization takes priority if there is a conflict. <br />
                    If two manual authorizations affect the same user, the corporation role will take priority over the alliance role. <br />
                    'Default Access' is lowest priority - it only applies if no other rule affects the user.
                </p>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="corp-search-input" name="corp-search-input"
                               placeholder="Search for Alliance/Corporations">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <input type="button" class="form-control btn btn-primary" id="corp-search-button"
                               name="corp-search-input" value="Search">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-striped images-table top-margin-20">
                            <tr>
                                <th style="width:27%;">Name</th>
                                <th style="width:35%;">Applied Role</th>
                                <th>Type</th>
                                <th style="width:7%;">Actions</th>
                            </tr>
                            {% for item in items %}
                                <tr>
                                    {% if item.type == 'A' %}
                                        {% set type = 'Alliance' %}
                                    {% elseif item.type == 'C' %}
                                        {% set type = 'Corporation' %}
                                    {% else %}
                                        {% set type = item.type %}
                                    {% endif %}

                                    <td>
                                        {% if item.eveid != -999 %}
                                            <img src="https://image.eveonline.com/{{ type }}/{{ item.eveid }}_32.png" style="margin-right: 20px;">
                                        {% endif %}
                                        {{ item.name }}
                                    </td>

                                    <td>
                                        <select data-id="{{item.eveid}}" data-name="{{ item.name }}" data-type="{{ item.type }}" name="manualRoleSelect" class="form-control roleSelect" style="height: auto; width:auto;">
                                            {% for role in roles %}
                                                {% if item.role == role %}
                                                    <option value="{{ role }}" selected>{{ role }}</option>
                                                {% else %}
                                                    <option value="{{ role }}">{{ role }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>

                                    <td>{{ type }}</td>
                                    <td>
                                        {% if item.eveid != -999 %}
                                            <a href="{{ path('admin_authorization_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Delete</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function doCorpSearch() {

        $( "#base_modal_content" ).html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");
        $('#base_modal').modal({backdrop: "static"});

        $.post('{{path('ajax_CorpSearch')}}', {searchstring: $("#corp-search-input").val()},
                function(response)
                {
                    $( "#base_modal_content" ).html( response );
                }
                , "html");

        $("#search-input").val("");
    }

    function doContactUpdate() {
        $( "#base_modal_content" ).html("<div style='text-align: center; font-size:200%; padding-top: 8%;'>Loading Contacts.  Please be patient, this may take a moment.</div><br /><div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");
        $('#base_modal').modal({backdrop: "static"});

        $.post('{{path('ajax_update_contacts')}}', {'apiKey': $("#contact-api-key").val(), 'apiCode': $("#contact-api-code").val()},
            function(response)
            {
                $( "#base_modal_content" ).html( "<div style='text-align: center; padding-top: 10%; padding-bottom:10%; font-size: 250%'>" + response + "</div>" );

                var $timeout;
                if(response.indexOf("ERROR") >= 0) {
                    $timeout = 2500;
                } else {
                    $timeout = 750;
                }

                setTimeout(
                    function()
                    {
                        location.reload();
                    }, $timeout)
            }
            , "html");

    }

    $(document).ready(function (e) {

        $("#corp-search-button").click(function(e) {

            doCorpSearch();
        })

        $("#corp-search-input").keydown(function(e) {

            if(e.keyCode == 13) {

                doCorpSearch();
            }
        });

        $("#contact-button").click(function(e) {

            doContactUpdate();
        });

    });


    $('.roleSelect').on('change', function() {

        $eveid = $(this).attr("data-id");
        $name = $(this).attr("data-name");
        $type = $(this).attr("data-type");

        $.post('{{path('ajax_update_auth_role')}}', {'role': this.value, 'eveid': $eveid, 'name': $name, 'type': $type},
            function(response)
            {

            }
            , "html");
    });

</script>

{% endblock %}
