{% extends 'secure_base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped" id="users-table">
                    <thead>
                    <tr>
                        <th>Character Name</th>
                        <th>Manual Role (Overrides Auto-Applied Role) <a href="https://github.com/binarygod/AmSYS/wiki/5.-User-Roles" target="_blank"><span class="fa fa-info-circle text-info" style="margin-left: 5px;"></span></a></th>
                        <th>Auto-Applied Role</th>
                        <th>Active</th>
                        <th>Last Login</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.username}}</td>
                            <td>
                                <select data-id="{{user.id}}" name="overrideRole" class="form-control overrideRoleSelect" style="height: auto; width:auto;">
                                    <option value=""></option>
                                    {% for overrideRole in roles %}
                                        {% if overrideRole == user.overrideRole %}
                                            <option value="{{ overrideRole }}" selected>{{ overrideRole }}</option>
                                        {% else %}
                                            <option value="{{ overrideRole }}">{{ overrideRole }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{user.role}}</td>
                            <td>
                                {% if user.isActive == 1 %}
                                    <i data-id="{{user.id}}" class="fa fa-check text-success toggle-active fake-link"></i>
                                {% else %}
                                    <i data-id="{{user.id}}" class="fa fa-ban text-danger toggle-active fake-link"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.lastlogin|date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $('#users-table').DataTable({
            "order": [[0, "desc"]],

            "drawCallback": function( settings ) {
                bindClickEvent();
                bindRoleOverride();
            }
        });

    });

    function bindRoleOverride() {
        $('.overrideRoleSelect').on('change', function() {

            $id = $(this).attr("data-id");

            $.post('{{path('ajax_update_user_override_role')}}', {'role': this.value, 'id': $id},
                function(response)
                {

                }
                , "html");
        });
    }

    function bindClickEvent() {
        $(".fake-link").click(function(e)
        {
            $id = $(this).attr("data-id");
            $source = $(this);
            //processTransaction($(this).html());
            if($source.hasClass("fa-check")) {

                //Need to disable
                $.post('{{ path('ajax_disable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-check");
                        $source.removeClass("text-success");
                        $source.addClass("fa-ban");
                        $source.addClass("text-danger");
                    }
                    , "html");
            } else {

                //Need to enable
                $.post('{{ path('ajax_enable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-ban");
                        $source.removeClass("text-danger");
                        $source.addClass("fa-check");
                        $source.addClass("text-success");
                    }
                    , "html");
            }
        });
    }

    function processTransaction($id)
    {
        $.post('{{ path('ajax_process_transaction') }}', {id: $id},
            function(response)
            {
                $( "#transaction_modal_content" ).html( response );
                $('#transaction_modal').modal({backdrop: "static"});
            }
        , "html");
    }

</script>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped" id="users-table">
                    <thead>
                    <tr>
                        <th>Character Name</th>
                        <th>Manual Role (Overrides Auto-Applied Role) <a href="https://github.com/binarygod/AmSYS/wiki/5.-User-Roles" target="_blank"><span class="fa fa-info-circle text-info" style="margin-left: 5px;"></span></a></th>
                        <th>Auto-Applied Role</th>
                        <th>Active</th>
                        <th>Last Login</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.username}}</td>
                            <td>
                                <select data-id="{{user.id}}" name="overrideRole" class="form-control overrideRoleSelect" style="height: auto; width:auto;">
                                    <option value=""></option>
                                    {% for overrideRole in roles %}
                                        {% if overrideRole == user.overrideRole %}
                                            <option value="{{ overrideRole }}" selected>{{ overrideRole }}</option>
                                        {% else %}
                                            <option value="{{ overrideRole }}">{{ overrideRole }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{user.role}}</td>
                            <td>
                                {% if user.isActive == 1 %}
                                    <i data-id="{{user.id}}" class="fa fa-check text-success toggle-active fake-link"></i>
                                {% else %}
                                    <i data-id="{{user.id}}" class="fa fa-ban text-danger toggle-active fake-link"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.lastlogin|date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $('#users-table').DataTable({
            "order": [[0, "desc"]]
        });

        $('.overrideRoleSelect').on('change', function() {

            $id = $(this).attr("data-id");

            $.post('{{path('ajax_update_user_override_role')}}', {'role': this.value, 'id': $id},
                function(response)
                {

                }
                , "html");
        });

        $(".fake-link").click(function(e)
        {
            $id = $(this).attr("data-id");
            $source = $(this);
            //processTransaction($(this).html());
            if($source.hasClass("fa-check")) {

                //Need to disable
                $.post('{{ path('ajax_disable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-check");
                        $source.removeClass("text-success");
                        $source.addClass("fa-ban");
                        $source.addClass("text-danger");
                    }
                , "html");
            } else {

                //Need to enable
                $.post('{{ path('ajax_enable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-ban");
                        $source.removeClass("text-danger");
                        $source.addClass("fa-check");
                        $source.addClass("text-success");
                    }
                , "html");
            }
        });
    });

    function processTransaction($id)
    {
        $.post('{{ path('ajax_process_transaction') }}', {id: $id},
            function(response)
            {
                $( "#transaction_modal_content" ).html( response );
                $('#transaction_modal').modal({backdrop: "static"});
            }
        , "html");
    }

</script>

{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-users"></i> Users</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped" id="users-table">
                    <thead>
                    <tr>
                        <th>Character Name</th>
                        <th>Manual Role (Overrides Auto-Applied Role) <a href="https://github.com/binarygod/AmSYS/wiki/5.-User-Roles" target="_blank"><span class="fa fa-info-circle text-info" style="margin-left: 5px;"></span></a></th>
                        <th>Auto-Applied Role</th>
                        <th>Active</th>
                        <th>Last Login</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td>{{user.username}}</td>
                            <td>
                                <select data-id="{{user.id}}" name="overrideRole" class="form-control overrideRoleSelect" style="height: auto; width:auto;">
                                    <option value=""></option>
                                    {% for overrideRole in roles %}
                                        {% if overrideRole == user.overrideRole %}
                                            <option value="{{ overrideRole }}" selected>{{ overrideRole }}</option>
                                        {% else %}
                                            <option value="{{ overrideRole }}">{{ overrideRole }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>{{user.role}}</td>
                            <td>
                                {% if user.isActive == 1 %}
                                    <i data-id="{{user.id}}" class="fa fa-check text-success toggle-active fake-link"></i>
                                {% else %}
                                    <i data-id="{{user.id}}" class="fa fa-ban text-danger toggle-active fake-link"></i>
                                {% endif %}
                            </td>
                            <td>{{ user.lastlogin|date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $('#users-table').DataTable({
            "order": [[0, "desc"]],

            "drawCallback": function( settings ) {
                bindClickEvent();
                bindRoleOverride();
            }
        });

    });

    function bindRoleOverride() {
        $('.overrideRoleSelect').on('change', function() {

            $id = $(this).attr("data-id");

            $.post('{{path('ajax_update_user_override_role')}}', {'role': this.value, 'id': $id},
                function(response)
                {

                }
                , "html");
        });
    }

    function bindClickEvent() {
        $(".fake-link").click(function(e)
        {
            $id = $(this).attr("data-id");
            $source = $(this);
            //processTransaction($(this).html());
            if($source.hasClass("fa-check")) {

                //Need to disable
                $.post('{{ path('ajax_disable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-check");
                        $source.removeClass("text-success");
                        $source.addClass("fa-ban");
                        $source.addClass("text-danger");
                    }
                    , "html");
            } else {

                //Need to enable
                $.post('{{ path('ajax_enable_user') }}', {id: $id},
                    function(response)
                    {
                        $source.removeClass("fa-ban");
                        $source.removeClass("text-danger");
                        $source.addClass("fa-check");
                        $source.addClass("text-success");
                    }
                    , "html");
            }
        });
    }

    function processTransaction($id)
    {
        $.post('{{ path('ajax_process_transaction') }}', {id: $id},
            function(response)
            {
                $( "#transaction_modal_content" ).html( response );
                $('#transaction_modal').modal({backdrop: "static"});
            }
        , "html");
    }

</script>

{% endblock %}
