<style>
    TABLE.s{{source_system}} TR.r-{{source_type}} TD.c-{{source_stat}}
    {
        background-color: #62c462;
        font-weight: 700;
        color: black;
    }
</style>
<div class="modal-content">
    <div class="modal-header">
        <button style="margin-left: 10px;" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span data-toggle="tooltip" title="" class="badge bg-light-blue pull-right" data-original-title="Market Group">{{ market_group }}</span>
        <span data-toggle="tooltip" title="" class="badge bg-yellow pull-right" data-original-title="Group">{{ group }}</span>
        <h4 class="modal-title"><img src="https://image.eveonline.com/Type/{{typeid}}_32.png" style="margin-right: 10px;"/>{{type_name}} Eve Central Data</h4>
    </div>
    <div class="modal-body" >
        <div class="buyback-results-container">
            <div class="alert alert-info">Please Note: All prices on this screen are raw, they do not account for taxes!!!</div>
            <div class="nav nav-tabs">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_2-1" data-toggle="tab" aria-expanded="true">Amarr</a></li>
                    <li class=""><a href="#tab_2-2" data-toggle="tab" aria-expanded="false">Jita</a></li>
                    <li class=""><a href="#tab_2-3" data-toggle="tab" aria-expanded="false">Dodixie</a></li>
                    <li class=""><a href="#tab_2-4" data-toggle="tab" aria-expanded="false">Rens</a></li>
                    <li class=""><a href="#tab_2-5" data-toggle="tab" aria-expanded="false">Hek</a></li>
                    <li class=""><a href="#tab_2-6" data-toggle="tab" aria-expanded="false">Price Breakdown</a></li>
                    <li class=""><a href="#tab_2-7" data-toggle="tab" aria-expanded="false">Rules</a></li>
                    <!--<li class=""><a href="#tab_1-8" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/2389_32.png"/>Planetary Interaction</a></li>-->
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_2-1">
                        <table class="table table-striped s60008494">
                            <tr>
                                <th>Type</th>
                                <th>WAvg</th>
                                <th>Max</th>
                                <th>Min</th>
                                <th>StdDev</th>
                                <th>Median</th>
                                <th>Percentile</th>
                            </tr>
                            <tr class="r-buy">
                                <td><strong>Buy</strong></td>
                                <td class="c-weightedAverage">{{amarr.0.buy.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{amarr.0.buy.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{amarr.0.buy.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{amarr.0.buy.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{amarr.0.buy.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{amarr.0.buy.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr class="r-sell">
                                <td><strong>Sell</strong></td>
                                <td class="c-weightedAverage">{{amarr.0.sell.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{amarr.0.sell.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{amarr.0.sell.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{amarr.0.sell.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{amarr.0.sell.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{amarr.0.sell.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_2-2">
                        <table class="table table-striped s60003760">
                            <tr>
                                <th>Type</th>
                                <th>WAvg</th>
                                <th>Max</th>
                                <th>Min</th>
                                <th>StdDev</th>
                                <th>Median</th>
                                <th>Percentile</th>
                            </tr>
                            <tr class="r-buy">
                                <td><strong>Buy</strong></td>
                                <td class="c-weightedAverage">{{jita.0.buy.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{jita.0.buy.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{jita.0.buy.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{jita.0.buy.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{jita.0.buy.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{jita.0.buy.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr class="r-sell">
                                <td><strong>Sell</strong></td>
                                <td class="c-weightedAverage">{{jita.0.sell.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{jita.0.sell.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{jita.0.sell.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{jita.0.sell.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{jita.0.sell.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{jita.0.sell.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_2-3">
                        <table class="table table-striped s60011866">
                            <tr>
                                <th>Type</th>
                                <th>WAvg</th>
                                <th>Max</th>
                                <th>Min</th>
                                <th>StdDev</th>
                                <th>Median</th>
                                <th>Percentile</th>
                            </tr>
                            <tr class="r-buy">
                                <td><strong>Buy</strong></td>
                                <td class="c-weightedAverage">{{dodixie.0.buy.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{dodixie.0.buy.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{dodixie.0.buy.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{dodixie.0.buy.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{dodixie.0.buy.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{dodixie.0.buy.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr class="r-sell">
                                <td><strong>Sell</strong></td>
                                <td class="c-weightedAverage">{{dodixie.0.sell.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{dodixie.0.sell.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{dodixie.0.sell.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{dodixie.0.sell.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{dodixie.0.sell.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{dodixie.0.sell.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_2-4">
                        <table class="table table-striped s60004588">
                            <tr>
                                <th>Type</th>
                                <th>WAvg</th>
                                <th>Max</th>
                                <th>Min</th>
                                <th>StdDev</th>
                                <th>Median</th>
                                <th>Percentile</th>
                            </tr>
                            <tr class="r-buy">
                                <td><strong>Buy</strong></td>
                                <td class="c-weightedAverage">{{rens.0.buy.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{rens.0.buy.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{rens.0.buy.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{rens.0.buy.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{rens.0.buy.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{rens.0.buy.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr class="r-sell">
                                <td><strong>Sell</strong></td>
                                <td class="c-weightedAverage">{{rens.0.sell.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{rens.0.sell.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{rens.0.sell.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{rens.0.sell.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{rens.0.sell.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{rens.0.sell.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-pane" id="tab_2-5">
                        <table class="table table-striped s60005686">
                            <tr>
                                <th>Type</th>
                                <th>WAvg</th>
                                <th>Max</th>
                                <th>Min</th>
                                <th>StdDev</th>
                                <th>Median</th>
                                <th>Percentile</th>
                            </tr>
                            <tr class="r-buy">
                                <td><strong>Buy</strong></td>
                                <td class="c-weightedAverage">{{hek.0.buy.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{hek.0.buy.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{hek.0.buy.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{hek.0.buy.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{hek.0.buy.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{hek.0.buy.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                            <tr class="r-sell">
                                <td><strong>Sell</strong></td>
                                <td class="c-weightedAverage">{{hek.0.sell.weightedAverage|number_format(0, '.', ',')}}</td>
                                <td class="c-max">{{hek.0.sell.max|number_format(0, '.', ',')}}</td>
                                <td class="c-min">{{hek.0.sell.min|number_format(0, '.', ',')}}</td>
                                <td class="c-stddev">{{hek.0.sell.stddev|number_format(0, '.', ',')}}</td>
                                <td class="c-median">{{hek.0.sell.median|number_format(0, '.', ',')}}</td>
                                <td class="c-percentile">{{hek.0.sell.percentile|number_format(0, '.', ',')}}</td>
                            </tr>
                        </table>
                    </div>
                    {% if details != null %}
                    <div class="tab-pane" id="tab_2-6">
                        <div class="row" style="margin-top:20px;">
                            <div class="col-md-6">
                                <table class="table table-striped">
                                    <tr>
                                        <th>Refined Using:</th>
                                        <td>{{ options['refineskill'] }}</td>
                                    </tr>
                                    <tr>
                                        <th>Priced by Refining:</th>
                                        <td>{{ (options['isrefined']) ? 'Yes' : 'No' }}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-6">
                                {% if options['isrefined'] == true %}
                                    <div class="alert alert-warning">
                                        This item is refined using Ore Skills, this table is assuming that the full
                                        portion size of {{ options['portionSize'] }} units is being refined.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        <table class="table table-striped images-table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Raw Quantity</th>
                                    <th>Refined Quantity</th>
                                    <th>Value</th>
                                    <th>Totals</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for type in refineDetails %}
                                    <tr>
                                        <td><img src="https://image.eveonline.com/Type/{{ type['typeid'] }}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ type['typeid'] }}">{{ type['name'] }}</span></td>
                                        <td>{{ type['quantity']['base']|number_format(0, '.', ',') }}</td>
                                        <td>{{ type['quantity']['adjusted']|number_format(0, '.', ',') }}</td>
                                        <td>{{ type['price']['market']|number_format(0, '.', ',') }}</td>
                                        <td>{{ (type['quantity']['adjusted'] * type['price']['market'])|number_format(0, '.', ',') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfooter>
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{ refinedPrice|number_format(0, '.', ',') }}</td>
                                </tr>
                            </tfooter>
                        </table>
                    </div>
                    {% endif %}
                    <div class="tab-pane" id="tab_2-7">
                        <table class="table table-stripped">
                            <tr>
                                <th>Attribute</th>
                                <th>Value</th>
                            </tr>
                            <tr>
                                <th>Can Buy</th>
                                <td>{{ (options.canbuy == true) ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Tax</th>
                                <td>{{ options.tax }}</td>
                            </tr>
                            <tr>
                                <th>Is Refined?</th>
                                <td>{{ (options.isrefined == true) ? 'Yes' : 'No' }}</td>
                            </tr>
                            <tr>
                                <th>Price</th>
                                <td>{{ options.price }}</td>
                            </tr>
                            <tr>
                                <th>Applied Rules</th>
                                <td>{{ options.rules }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <p>Green box denotes the price that is used in all market lookups/calculations and buybacks</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="buybackacceptclose" class="btn btn-danger" data-dismiss="modal">Close</button>
    </div>
</div>
