<aside class="main-sidebar">



    <script type="text/javascript">

        $(document).ready(function (e)
        {
            {% if is_granted('ROLE_ADMIN') %}
                setBadging();
            {% endif %}

            $("#search-btn").click(function(e)
            {
                doSearch();
            });

            $("#search-input").keydown(function(e)
            {
                if(e.keyCode == 13)
                {
                    doSearch();
                }
            });
        });

        function doSearch()
        {
            $( "#base_modal_content" ).html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");

            $('#base_modal').modal({backdrop: "static"});

            $.post('{{path('ajax_lookup_price')}}', {id: $("#search-input").val()},
                function(response)
                {
                    $( "#base_modal_content" ).html( response );
                }
            , "html");

            $("#search-input").val("");
        }

        function setBadging()
        {
            $.post('{{path('ajax_transaction_badging')}}', function(response)
            {
                var jsonResponse = JSON.parse(response);

                updateQueueBadge($( "#purchaseQueueBadge" ), parseInt(jsonResponse.purchaseQueueBadge) >= 0 ? jsonResponse.purchaseQueueBadge : 0);
                updateQueueBadge($( "#salesQueueBadge" ), parseInt(jsonResponse.salesQueueBadge) >= 0 ? jsonResponse.salesQueueBadge : 0);
                updateQueueBadge($( "#SRPQueueBadge" ), parseInt(jsonResponse.SRPQueueBadge) >= 0 ? jsonResponse.SRPQueueBadge : 0);

			} , "html");
        }

        function updateQueueBadge(element, addedValue)
        {
            var oldVal = element.html();
            if (oldVal === "")
            {
                oldVal = 0;
            }

            var newVal = parseInt(oldVal) + parseInt(addedValue);
            if (newVal <= 0)
            {
                element.html("");
            }
            else
            {
                element.html(numberToString(newVal));
            }
        }

    </script>





  <!-- sidebar: style can be found in sidebar.less -->

  <section class="sidebar">

    <div class="sidebar-form">

        <div class="input-group">

            <input type="text" id="search-input" name="q" class="form-control" placeholder="Market Price Search...">

            <span class="input-group-btn">

                <button name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>

            </span>

        </div>

    </div>


    <!-- search form (Optional) -->

    <!--<form action="#" method="get" class="sidebar-form">

      <div class="input-group">

        <input type="text" name="q" class="form-control" placeholder="Search...">

        <span class="input-group-btn">

          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>

        </span>

      </div>

  </form>-->

    <!-- /.search form -->



    <!-- Sidebar Menu -->

    <ul class="sidebar-menu">

	

        <li class="header">HOME</li>

        <li class="{{(page_name == "Dashboard" ? 'active' : '')}}"><a href="{{ path('homepage') }}"><i class="fa fa-tachometer"></i> <span>User Dashboard</span></a></li>

        <li class="treeview {{(page_name == "Quicklook" ? 'active' : '')}}"><a href="#"><i class="fa fa-eye"></i> <span>Quicklook</span><i class="fa fa-angle-left pull-right"></i></a>

            <ul class="treeview-menu">

                <li><a href="#"><span>Ore</span><i class="fa fa-angle-left pull-right"></i></a>

                    <ul class="treeview-menu">

                        <li><a href="{{ path('quicklook', {'ore_type': 'all'}) }}"><span>All Ore</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'high'}) }}"><span>High Sec Ore</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'other'}) }}"><span>Other High Sec Ore</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'low'}) }}"><span>Low Sec Ore</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'null'}) }}"><span>Null Sec Ore</span></a></li>

                    </ul>

                </li>

                <li><a href="{{ path('quicklook', {'ore_type': 'ice'}) }}"><span>Ice</span></a></li>

                <li><a href="{{ path('quicklook', {'ore_type': 'gas'}) }}"><span>Gas</span></a></li>

                <li><a href="{{ path('quicklook', {'ore_type': 'minerals'}) }}"><span>Minerals</span></a></li>

                <li><a href="#"><span>Planetary Interaction</span><i class="fa fa-angle-left pull-right"></i></a>

                    <ul class="treeview-menu">

                        <li><a href="{{ path('quicklook', {'ore_type': 'pAll'}) }}"><span>All Commodities</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'p0'}) }}"><span>P0 Commodities</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'p1'}) }}"><span>P1 Commodities</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'p2'}) }}"><span>P2 Commodities</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'p3'}) }}"><span>P3 Commodities</span></a></li>

                        <li><a href="{{ path('quicklook', {'ore_type': 'p4'}) }}"><span>P4 Commodities</span></a></li>

                    </ul>

                </li>

            </ul>

        </li>



        {% if is_granted('ROLE_ENTITLEMENT_BUYBACK') or is_granted('ROLE_ENTITLEMENT_SALES') %}
            <li class="header">{{ corpTicker }} MARKET</li>

            {% if is_granted('ROLE_ENTITLEMENT_BUYBACK') %}
                <li class="{{(page_name == "My Sell Orders" ? 'active' : '')}}"><a href="{{ path('buyback') }}"><i class="fa fa-money"></i> <span>Sell Orders</span></a></li>
            {% endif %}
            {% if is_granted('ROLE_ENTITLEMENT_SALES') %}
                <li class="{{(page_name == "My Buy Orders" ? 'active' : '')}}"><a href="{{ path('sales') }}"><i class="fa fa-credit-card"></i> <span>Buy Orders</span></a></li>
            {% endif %}
        {% endif %}

        {% if is_granted('ROLE_ENTITLEMENT_SRP') %}
			<li class="header">SHIP REPLACEMENT</li>

			<li class="{{(page_name == "SRP Tools" ? 'active' : '')}}"><a href="{{ path('srp') }}"><i class="fa fa-grav"></i> <span>SRP Tools</span></a></li>
			<li class="{{(page_name == "My Recent Losses" ? 'active' : '')}}"><a href="{{ path('losses') }}"><i class="fa fa-free-code-camp "></i> <span>My Recent Losses</span></a></li>
        {% endif %}

        {% if is_granted('ROLE_ENTITLEMENT_PAGES') %}
            <li class='header'>PAGES</li>

            <li class="{{(page_name == "Pages" ? 'active' : '')}}"><a href="{{path('pages')}}" target="_new"><i class="fa fa-file-text-o"></i> <span>Pages</span></a></li>
        {% endif %}


        {% if is_granted('ROLE_ADMIN') %}
            <li class="header">ACCOUNTING</li>

				{% if is_granted('ROLE_BUY_ADMIN') %}
				    <li class="{{(page_name == "Sell Order Queue" ? 'active' : '')}}"><a href="{{ path('admin_sell_order_transactions') }}">
                    <i class="fa fa-cubes"></i>
                    <i class="fa fa-exchange"></i>
                    <i class="fa fa-money"></i>
                    <span>Sell Order Queue</span> <span class="badge bg-green" id="purchaseQueueBadge"></span></a></li>
				{% endif %}
                {% if is_granted('ROLE_SELL_ADMIN') %}
                    <li class="{{(page_name == "Buy Order Queue" ? 'active' : '')}}"><a href="{{ path('admin_buy_order_transactions') }}">
                    <i class="fa fa-credit-card"></i>
                    <i class="fa fa-exchange"></i>
                    <i class="fa fa-cubes"></i>
                    <span>Buy Order Queue</span> <span class="badge bg-green" id="salesQueueBadge"></span></a></li>
                {% endif %}
                {% if is_granted('ROLE_SRP_ADMIN') %}
                    <li class="{{(page_name == "SRP Queue" ? 'active' : '')}}"><a href="{{ path('admin_srp_transactions') }}">
                    <i class="fa fa-grav"></i>
                    <i class="fa fa-exchange"></i>
                    <i class="fa fa-money"></i>
                    <span>SRP Queue</span> <span class="badge bg-green" id="SRPQueueBadge"></span></a></li>
                {% endif %}

        {% endif %}

        {% if is_granted('ROLE_SYSTEM_ADMIN') %}

            <li class="header">SYSTEM</li>

            <li class="{{(page_name == "News" ? 'active' : '')}}"><a href="{{path('admin_news')}}"><i class="fa fa-newspaper-o"></i> <span>News</span></a></li>

            <li class="{{(page_name == "Admin Tools" ? 'active' : '')}}"><a href="{{path('admin_tools')}}"><i class="fa fa-wrench" aria-hidden="true"></i> <span>Admin Tools</span></a></li>



            <li class="{{(page_name == "Access Control" ? 'active' : '')}}"><a href="#"><i class="fa fa-address-card"></i> <span>Access Control</span><i class="fa fa-angle-left pull-right"></i></a>

                <ul class="treeview-menu">

                    <li><a href="{{ path('admin_users') }}"><i class="fa fa-users"></i> <span>Users</span></a></li>

                    <li><a href="{{ path('admin_authorization') }}"><i class="fa fa-clipboard"></i> <span>Authorization</span></a></li>

                </ul>

            </li>

            <li class="{{(page_name == "App Settings" ? 'active' : '')}}"><a href="{{ path('admin_settings_buyback') }}"><i class="fa fa-cogs"></i> <span>App Settings</span></a></li>

            <li class="{{(page_name == "Buyback Rules" ? 'active' : '')}}"><a href="{{ path('admin_buyback_rules') }}"><i class="fa fa-filter"></i> <span>Buyback Rules</span></a></li>

        {% endif %}

    </ul><!-- /.sidebar-menu -->
  </section><!-- /.sidebar -->
</aside>

