{% set route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a href="{{ path('homepage') }}" class="navbar-brand"><i class="fa fa-shopping-basket" aria-hidden="true"></i> <b>Buy</b>SYS</a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="{{ (route == 'alts-index') ? 'active' : '' }}"><a href="{{ path('homepage') }}">History</a></li>-->

                <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Ore Tables</a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-submenu"><a href="#" class="submenu" tabindex="-1">Ore&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('quicklook', {'ore_type': 'all'}) }}">All Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'high'}) }}">High Sec Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'other'}) }}">Other High Sec Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'low'}) }}">Low Sec Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'null'}) }}">Null Sec Ore</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="submenu" tabindex="-1">Compressed Ore&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('quicklook', {'ore_type': 'compressed_all'}) }}">All Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'compressed_high'}) }}">High Sec Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'compressed_other'}) }}">Other High Sec Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'compressed_low'}) }}">Low Sec Ore</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'compressed_null'}) }}">Null Sec Ore</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ path('quicklook', {'ore_type': 'ice'}) }}">Ice</a></li>
                        <li><a href="{{ path('quicklook', {'ore_type': 'gas'}) }}">Gas</a></li>
                        <li><a href="{{ path('quicklook', {'ore_type': 'minerals'}) }}">Minerals</a></li>
                        <li class="dropdown-submenu"><a href="#" class="submenu" tabindex="-1">Planetary Interaction&nbsp;&nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path('quicklook', {'ore_type': 'pAll'}) }}">All Commodities</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'p0'}) }}">P0 Commodities</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'p1'}) }}">P1 Commodities</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'p2'}) }}">P2 Commodities</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'p3'}) }}">P3 Commodities</a></li>
                                <li><a href="{{ path('quicklook', {'ore_type': 'p4'}) }}">P4 Commodities</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('admin_sell_order_transactions') }}">Contract Queue</a></li>
                            <li><a href="{{ path('admin_validate_contract') }}">Contract Validation</a></li>
                            <li class="{{ (route == 'admin_buyback_rules') ? 'active' : '' }}"><a href="{{ path('admin_users') }}">Users</a></li>
                            <li class="divider"></li>
                            <li class="{{ (route == 'settings') ? 'active' : '' }}"><a href="{{ path('admin_settings_buyback') }}">System Settings</a></li>
                            <li class="{{ (route == 'settings') ? 'active' : '' }}"><a href="{{ path('admin_authorization') }}">Permissions</a></li>
                            <li class="{{ (route == 'nightly-log') ? 'active' : '' }}"><a href="{{ path('admin_tools') }}">Admin Tools</a> </li>
                            <li class="{{ (route == 'admin_buyback_rules') ? 'active' : '' }}"><a href="{{ path('admin_buyback_rules') }}">Buyback Rules</a></li>
                        </ul>
                    </li>
                {% elseif is_granted('ROLE_TRANSACTION_ADMIN') %}
                    <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Contracts</a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('admin_sell_order_transactions') }}">Contract Queue</a></li>
                            <li><a href="{{ path('admin_validate_contract') }}">Contract Validation</a></li>
                        </ul>
                    </li>
                {% endif %}
                <!--<li class="{{ (route == 'api') ? 'active' : '' }}"><a href="{{ path('homepage') }}">Help</a></li>-->
            </ul>
        </div>
        <form class="navbar-form navbar-left" role="search" id="nav-search-form">
            <div class="form-group">
                <input type="text" class="form-control" id="search-input" placeholder="Item Lookup...">
            </div>
            <button class="btn btn-outline" id="search-btn"><i class="fa fa-search fa-fw" aria-hidden="true"></i></button>
        </form>
        <div class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('logout') }}">Logout {{ app.user.username }}</a></li>
            </ul>
        </div>
    </div>
</nav>

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function() {

        $('.dropdown-submenu a.submenu').click(function(e) {
           $(this).next('ul').toggle();
           e.stopPropagation();
           e.preventDefault();
        });

        $("#nav-search-form").submit(function(e)
        {
            doSearch();
            e.stopPropagation();
            e.preventDefault();
        });
    });

    function doSearch()
    {
        $( "#base_modal_content" ).html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");

        $('#base_modal').modal({backdrop: "static"});

        $.post('{{path('ajax_lookup_price')}}', {id: $("#search-input").val()},
            function(response)
            {
                $( "#base_modal_content" ).html( response );
            }
            , "html");

        $("#search-input").val("");
    }

</script>

{% endblock %}
