<nav class="navbar navbar-static-top" role="navigation">
  <!-- Sidebar toggle button-->
  <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <!-- Navbar Right Menu -->
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <!-- Messages: style can be found in dropdown.less-->
      <!-- Notifications Menu -->
      <li><a href="{{ path('guest_suggestion') }}"><i class="fa fa-envelope" aria-hidden="true"></i> Feedback</a></li>
      <li class="dropdown notifications-menu" id="notifications_menu">

      </li>
      <!-- Tasks Menu -->
      <!-- User Account Menu -->
      <li class="dropdown user user-menu">
        <!-- Menu Toggle Button -->
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <!-- The user image in the navbar-->
          <img src="https://image.eveonline.com/Character/{{app.user.characterid}}_128.jpg" class="user-image" alt="User Image">
          <!-- hidden-xs hides the username on small devices so only the image appears. -->
          <span class="hidden-xs">{{ app.user.username }}</span>
        </a>
        <ul class="dropdown-menu">
          <!-- The user image in the menu -->
        <li class="user-header">
            <img src="https://image.eveonline.com/Character/{{app.user.characterid}}_128.jpg" class="img-circle" alt="User Image">
            <p>
                {{app.user.username}}
            </p>
        </li>
          <!-- Menu Body -->
          <!--<li class="user-body">
            <div class="col-xs-4 text-center">
              <a href="#">Followers</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Sales</a>
            </div>
            <div class="col-xs-4 text-center">
              <a href="#">Friends</a>
            </div>
        </li>-->
          <!-- Menu Footer-->
            <li class="user-footer">
                <div style="text-align: center;">
                    <a href="{{ path('logout') }}" class="btn btn-default btn-flat" style="width: 120px;">Logout</a>
                </div>
            </li>
            <hr style="margin-top:10px; margin-bottom:0px;"/>
            <li class="user-footer">

                <form class="form-horizontal" action="{{ path('update_preferences') }}" method="post">


                    <div class="form-group">
                        <label class="col-lg-3 control-label" >Theme</label>
                        <div class="col-lg-9">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="themeRadios" id="themeRadioDefault" value="default">
                                    Default
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="themeRadios" id="themeRadioSlate" value="slate">
                                    Slate
                                </label>
                            </div>
                        </div>
                    </div>

                    <br />
                    <div class="pull-left">
                        <button class="btn btn-default btn-flat" type="submit">Submit Preferences</button>
                    </div>
                </form>
            </li>
        </ul>
      </li>
      <!-- Control Sidebar Toggle Button -->
      <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-info-circle"></i></a>
      </li>
    </ul>
  </div>
</nav>

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $.get('{{path('ajax_latest_news')}}', {},
            function(response)
            {
                $( "#notifications_menu" ).html( response );
                //$('#buyback_quick_modal').modal({backdrop: "static"});
            }
        , "html");

        {% set preferences = app.session.get('userPreferences') %}
		{% if preferences is defined and preferences.displayTheme is defined %}
			var selectedTheme = '{{ preferences.displayTheme }}';
			if(selectedTheme && selectedTheme.length > 1)
				$('input[name=themeRadios][value=' + selectedTheme + ']').prop('checked',true)
		{% endif %}
    });



</script>

{% endblock %}
