<div class="modal-header">
    <h4 class="modal-title">Details for {{ item.quantity }} x <img src="https://image.eveonline.com/Type/{{ item.typeid }}_32.png" data-toggle="tooltip" title="TypeId: {{ item.typeid }}"/> {{ item.name }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12">
            <h4><i class="fa fa-filter" aria-hidden="true"></i> Rules <small>Rules effect Buyback behavior</small></h4>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Rule</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rule in rules %}
                        <tr>
                            <td>{{ rule }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Option</th>
                        <th>Value</th>
                        <th>Option</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Tax</th>
                        <td>{{ details.data.options.tax }}</td>
                        <th>Price</th>
                        <td>{{ details.data.options.price }}</td>
                    </tr>
                    <tr>
                        <th>Is Refined</th>
                        <td>{{ (details.data.options.isrefined) ? "Yes" : "No" }}</td>
                        <th>Portion Size</th>
                        <td>{{ details.data.options.portionSize }}</td>
                    </tr>
                    <tr>
                        <th>Can Buy?</th>
                        <td>{{ (details.data.options.canbuy) ? "Yes" : "No" }}</td>
                        <th>Is Salvage?</th>
                        <td>{{ (details.data.options.issalvage) ? "Yes" : "No" }}</td>
                    </tr>
                    <tr>
                        <th>Refine Skill</th>
                        <td>{{ details.data.options.refineskill }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4><i class="fa fa-calculator" aria-hidden="true"></i> Calculations <small>Per unit pricing (see Portion Size)</small></h4>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width:16%;">Raw Market Value</th>
                        <th style="width:16%;">Unit Price</th>
                        <th style="width:16%;">Quantity</th>
                        <th style="width:16%;">SubTotal</th>
                        <th style="width:16%;">Tax</th>
                        <th style="width:16%;">Offer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ details.market|number_format(2,'.',',')}}</td>
                        {% if details.data.options.isrefined == true %}
                            {% set uPrice = details.adjusted / details.data.options.portionSize %}
                        {% else %}
                            {% set uPrice = details.adjusted %}
                        {% endif %}
                        <td>{{ uPrice|number_format(2,'.',',') }}</td>
                        <td>{{ item.quantity|number_format(0,'.',',') }}</td>
                        <td>{{ item.grossPrice|number_format(2,'.',',') }}</td>
                        <td>{{ details.data.options.tax }}%</td>
                        <td>{{ item.netPrice|number_format(2,'.',',') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {% if details.data.options.isrefined == 1 %}
        <div class="row">
            <div class="col-md-12">
                <h4><i class="fa fa-diamond" aria-hidden="true"></i> Refine Details <small>Refined using Corporation Refine skills</small></h4>
                <div class="box-group" id="accordion">
                    <div class="panel box box-solid">
                        <div class="box-header with-border">
                            <h4 class="box-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" class="collapsed">
                                    Click to Expand
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                            <div class="box-body">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>Material</th>
                                        <th>Base</th>
                                        <th>Refined</th>
                                        <th>Market</th>
                                        <th>Value</th>
                                    </tr>
                                    </thead>
                                    {% set total = 0 %}
                                    <tbody>
                                    {% for mat in details.data.materials %}
                                        <tr>
                                            <td><img src="https://image.eveonline.com/Type/{{mat.typeid}}_32.png" style="max-width:16px;margin-right:10px;"/>{{ mat.name }}</td>
                                            <td>{{ ((mat.base/details.data.options.portionSize)*item.quantity)|number_format(0,'.',',') }}</td>
                                            <td>{{ ((mat.adjusted/details.data.options.portionSize)*item.quantity)|number_format(2,'.',',') }}</td>
                                            <td>{{ mat.price|number_format(2,'.',',') }}</td>
                                            {% set value = mat.price * mat.adjusted %}
                                            {% set total = total + value %}
                                            <td>{{ value|number_format(2,'.',',') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="4" style="text-align:right;"><strong>Value per Portion Size:</strong></td>
                                        <td><strong>{{ total|number_format(2,'.',',') }}</strong></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-flat btn-default" data-dismiss="modal">Close</button>
</div>

{% block javascripts %}

{% endblock %}