<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Thank you for your submission!</h4>
    </div>
    <div class="modal-body" >
        <div class="buyback-results-container">
            Please create a private 'Item Exchange' contract to Omni Galactic for the materials entered here.
            <ol>
                <li>Items should be contracted from 8P9-BM Empress Jamyl's Emporium (or other approved locations)</li>
                <li>Copy and Paste the 'Amount' to the 'I will receive' field in the contract</li>
                <li>Copy and Paste the 'Auth Code' to the 'Comment' field, this <strong>MUST</strong> be present if you wish to get paid!</li>
            </ol>
            <table class="table table-striped">
                {% if shares == 1 %}
                    <tr>
                        <th>Shares</th>
                        <td>{{share_value|number_format(0, '.', ',')}}</td>
                    </tr>
                {% endif %}
                <tr>
                    <th>Amount</th>
                    <td>{{total_value|number_format(0, '.', ',')}}</td>
                </tr>
                <tr>
                    <th>Auth Code</th>
                    <td>{{auth_code}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="buybackacceptclose" class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
</div>

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("#buybackacceptclose").click(function(e) {

            $('#base_modal').modal('hide');
            //$( "#estimate_modal_content" ).html("<div class='modal-loading'><i class='fa fa-refresh fa-spin'></i></div>");

            $oSales = stringToNumber($("#oSales").html());
            $oSales += 1;

            $("#oSales").toggle("puff", function(e) {
                $("#oSales").html(numberToString($oSales));
                $("#oSales").toggle();
            });

            $("#rSales").DataTable().row.add([
                    '{{transaction.created|date("m/d/Y H:i")}}',
                    '{{transaction.orderid}}',
                    '{{transaction.net|number_format(0, '.', ',')}}'
                ]).draw(false);

            //$("#rSales TR:first").after('<tr><td>{{transaction.created|date("m/d/Y H:i")}}</td><td>{{transaction.orderid}}</td><td>{{transaction.net|number_format(0, '.', ',')}}</td></tr>');
            //$("#rSales TR:nth-child(2)").effect("highlight", {color: "#dff0d8"}, 1000);
            //$("#rSales TR:nth-child(2)").effect("pulsate", {times: 2});
        });
    });

</script>

{% endblock %}
