{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-filter" aria-hidden="true"></i> Exclusion Mode</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-9">
                            <p>Buyback Exclusions can operate in one of two modes.  Two lists are kept in the database,
                            one for each Mode.  The table below will change based on the Mode selected here.</p>
                            <dl class="dl-horizontal">
                                <dt>Whitelist</dt>
                                <dd>Whitelist only allows items in the Market Groups listed to be sold through the
                                the buyback system.  An empty list means nothing is accepted.</dd>
                                <dt>Blacklist</dt>
                                <dd>Blacklist allows all items to be sold through the buyback except for the Market
                                Groups listed.</dd>
                            </dl>
                            <p class="text-info"><strong><i class="fa fa-info" aria-hidden="true"></i>  The 'Market Group' of an
                            item can be found by using the 'Search...' feature in the top of the Menu on the left.</strong></p>
                        </div>
                        <div class="col-md-3" style="text-align:right;">
                            <input id="exclusion_mode" class="pull-right" type="checkbox" checked data-toggle="toggle" data-on="Whitelist" data-off="Blacklist" data-onstyle="success" data-offstyle="danger">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-ban" aria-hidden="true"></i> Exclusions</h3>
                </div>
                <div class="box-body no-padding">
                    <div id="exclusions-form-wrap">
                        {{ form_start(form, { 'attr': {'class': 'form-horizontal', 'style': 'margin-top:20px;margin-left:20px;'} }) }}
                        <div class="form-group">
                            <div class="col-md-6">
                                {{ form_label(form.marketgroupid) }}
                                {{ form_widget(form.marketgroupid) }}
                            </div>
                            <div class="col-md-3">
                                {{ form_label(form.save) }}
                                {{ form_widget(form.save) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Market Group ID</th>
                                <th>Market Group Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if exclusions == null %}
                                <tr><td colspan="3">No Exclusions to display</td></tr>
                            {% else %}
                                {% for exclusion in exclusions %}
                                    <tr>
                                        <td>{{ exclusion.marketgroupid }}</td>
                                        <td>{{ exclusion.marketgroupname }}</td>
                                        <td style="width:100px;"><a href="{{ path('admin_delete_exclusion', {'id': exclusion.id, 'mode': mode}) }}" data-id="{{exclusion.id}}" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Delete</a></td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">

        {% if mode == "true" %}
            $('#exclusion_mode').bootstrapToggle('on');
        {% else %}
            $('#exclusion_mode').bootstrapToggle('off');
        {% endif %}

        $(document).ready(function(e) {

            $('#exclusion_mode').change(function(f) {

                $.post('{{path('ajax_admin_buyback_mode')}}', {mode: $('#exclusion_mode').prop('checked') },
                        function(response)
                        {
                            window.location = "{{ path('admin_buyback_exclusions') }}";
                        }
                , "html");
            });
        });

    </script>

{% endblock %}