<script type="text/javascript">



</script>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Buyback Offer</h4>
    </div>
    <div class="modal-body" >
        <h2 id="estimated_value" style="text-align: right; margin-top: 0px;height:40px;">Estimated Value: <span class="text-green">{{total|number_format(0, '.', ',')}}</h2>
        <div class="buyback-results-container">
            <table class="table table-striped images-table">
                <tr>
                    <th>Quanity</th>
                    <th>Item</th>
                    <th>Volume</th>
                    <th>Value</th>
                </tr>
                {% for item in items %}
                    <tr>
                        <td>{{item.Quantity|number_format(0, '.', ',') }}</td>
                        <td><img src="https://image.eveonline.com/Type/{{item.TypeId}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{item.typeid}}">{{item.Name}}</span></td>
                        <td>{{item.Volume}}</td>
                        <td>{{item.Value|number_format(0, '.', ',') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="modal-footer">
        {% if total > 1000000 %}
        <div id="share-check" class="pull-left">
            <div class="checkbox icheck" style="text-align:right;margin-right:30px;">
                <label data-toggle="tooltip" data-placement="bottom" title="Gives you shares instead of isk (1m isk == 1 share)">
                    <input type="checkbox" id="give_me_shares_base" > Give me shares please!
                </label>
            </div>
        </div>
        {% endif %}
        <input type="hidden" id="give_me_shares" name="give_me_shares" value="0"/>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Decline</button>
        <button type="button" id="acceptOffer" class="btn btn-success">Accept</button>
    </div>
</div>

{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function (e) {

        $totalValue="";

        $("#acceptOffer").click(function(e)
        {
            acceptOfferSubmit();
        });

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' // optional
            });
        });
    });

    $("#estimated_value").mouseenter(function(e) {

        $totalValue = $(this).html();
        $(this).html("Don't copy this!!!!");
    });

    $("#estimated_value").mouseout(function(e) {

        $(this).html($totalValue);
    });

    $('input').on('ifChecked', function(event){
        $("#give_me_shares").val("1");
    });

    $('input').on('ifUnchecked', function(event){
        $("#give_me_shares").val("0");
    });

    function acceptOfferSubmit()
    {
        $.post('{{path('ajax_accept_buyback')}}', {total: {{total}}, items: {{ajaxData}}, shares: $("#give_me_shares").val() },
            function(response)
            {
                $( "#estimate_modal_content" ).html( response );
            }
        , "html");
    }
</script>

{% endblock %}
