{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form method="post" action="{{ path('admin_buyback_settings') }}">
                    <div class="box-header with-border">
                        <!--<h3 class="box-title"><i class="fa fa-balance-scale"></i> Outstanding Material Sales</h3>-->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_id" class="control-label">System Id</label>
                                    <p>System Id to pull prices from.  You can find a list <a target="_blank" href="http://eve-marketdata.com/developers/solarsystems.php">here</a>.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="source_id" name="source_id" value="{{model.SourceId}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_type" class="control-label">Source Type</label>
                                    <p>Source type will be the type of stat data to use.  For current Eve Central data the choices are 'all', 'buy' and 'sell'.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="source_type" name="source_type" value="{{model.SourceType}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_stat" class="control-label">Source Statistic</label>
                                    <p>Source statistic is the stat field to use.  For current Eve Central data the choices are 'avg', 'wavg', 'variance', 'max', 'min', 'stdDev', 'median' and 'fivePercent'.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="source_stat" name="source_stat" value="{{model.SourceStat}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="default_tax" class="control-label">Default Buyback Tax</label>
                                    <p>This is the default buyback tax used for all Material Buyback transactions.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="default_tax" name="default_tax" value="{{model.DefaultTax}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script>

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $(document).ready(function() {

        $('input').on('ifChecked', function(event){
            $("#maintenance_mode").val("1");
        });

        $('input').on('ifUnchecked', function(event){
            $("#maintenance_mode").val("0");
        });
    });

</script>

{% endblock %}
