{% extends 'secure_base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <form method="post" action="{{ path('admin_buyback_settings') }}">
                    <div class="box-header with-border">
                        <!--<h3 class="box-title"><i class="fa fa-balance-scale"></i> Outstanding Material Sales</h3>-->
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_id" class="control-label">System Id</label>
                                    <p>System Id to pull prices from.  You can find a list <a target="_blank" href="http://eve-marketdata.com/developers/solarsystems.php">here</a>.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="source_id" name="source_id" value="{{model.SourceId}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_type" class="control-label">Source Type</label>
                                    <p>Source type will be the type of stat data to use.  For current Eve Central data the choices are 'all', 'buy' and 'sell'.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="source_type" name="source_type" value="{{model.SourceType}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_stat" class="control-label">Source Statistic</label>
                                    <p>Source statistic is the stat field to use.  For current Eve Central data the choices are 'avg', 'wavg', 'variance', 'max', 'min', 'stdDev', 'median' and 'fivePercent'.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="source_stat" name="source_stat" value="{{model.SourceStat}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="default_tax" class="control-label">Default Buyback Tax</label>
                                    <p>This is the default buyback tax used for all Material Buyback transactions.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="default_tax" name="default_tax" value="{{model.DefaultTax}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="default_public_stax" class="control-label">Default Public Buyback Tax</label>
                                    <p>This is the buyback tax <i>added</i> (in addition to default tax or specified rules) to all Material Buyback transactions from Guest Accounts.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="default_public_tax" name="default_public_tax" value="{{model.DefaultPublicTax}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="maintenance_mode_base" class="control-label">Value Ore by Minerals</label>
                                    <p>This option will value any item that can be reprocessed by Refining Skill by it's mineral yield at the Refining Rate listed below.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox icheck" style="text-align:right;margin-right:30px;">
                                        <label>
                                            <input type="checkbox" id="value_minerals_base" data-t="value_minerals" {{ (model.ValueMinerals == "1") ? 'checked' : '' }}/>
                                            <input type="hidden" id="value_minerals" name="value_minerals" value="{{ (model.ValueMinerals == "1") ? "1" : "0" }}"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="maintenance_mode_base" class="control-label">Value Salvage by Minerals</label>
                                    <p>This option will value any item that can be reprocessed by Salvaging Skill by it's mineral yield at the Refining Rate listed below.</p>
                                </div>
                                <div class="col-sm-4">
                                    <div class="checkbox icheck" style="text-align:right;margin-right:30px;">
                                        <label>
                                            <input type="checkbox" id="value_salvage_base" data-t="value_salvage" {{ (model.ValueSalvage == "1") ? 'checked' : '' }}/>
                                            <input type="hidden" id="value_salvage" name="value_salvage" value="{{ (model.ValueSalvage == "1") ? "1" : "0" }}"/>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_id" class="control-label">Ore Refining Rate</label>
                                    <p>Lowest rate at which we refine ore at.</a>.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="ore_refine_rate" name="ore_refine_rate" value="{{model.OreRefineRate}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_id" class="control-label">Ice Refining Rate</label>
                                    <p>Lowest rate at which we refine ice at.</a>.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="ice_refine_rate" name="ice_refine_rate" value="{{model.IceRefineRate}}"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8">
                                    <label for="source_id" class="control-label">Salvage Refining Rate</label>
                                    <p>Lowest rate at which we salvage stuff at.</a>.</p>
                                </div>
                                <div class="col-sm-4">
                                    <input class="form-control" type="text" id="salvage_refine_rate" name="salvage_refine_rate" value="{{model.SalvageRefineRate}}"/>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.box-body -->
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right">Save Changes</button>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>

{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script>

    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });

    $(document).ready(function() {

        $('input').on('ifChecked', function(event){
            $('#'+$(this).attr('data-t')).val("1");
        });

        $('input').on('ifUnchecked', function(event){
            $('#'+$(this).attr('data-t')).val("0");
        });
    });

</script>

{% endblock %}
