{% extends 'secure_base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6">

            <div class="box">
                <div class="box-header with-border ">
                    <h3 class="box-title"><i class="fa fa-money "></i> Sell Items</h3>
                    <!--<div class="box-tools pull-right">
                        <span class="label label-primary">Label</span>
                    </div>--><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="alert alert-error alert-dismissable" id="more-than-200" style="display:none;">
                        <h4 style="margin-bottom:0px;"><i class="icon fa fa-times"></i> Contracts are limited to 500 items or less!</h4>
                    </div>
                    {% if eveCentralOK == true %}
                        {% form_theme form 'forms/my_bootstrap_layout_no_label.html.twig' %}
                        {{ form_start(form) }}
                            {{ form_row(form.items, {'attr': {'placeholder': 'Paste items from game here', 'style': 'height:200px;'}}) }}
                            <div id="buyback_submits" class="right_justify_submits">
                                <a class="btn btn-info pull-left" href="{{ path('pages', {'chapter_slug': 'help', 'topic_slug': 'help_using_buyback'}) }}#Selling Items" target="_new">Help</a>
                                <input type="button" id="buyback_clear" class="btn btn-danger " value="Clear">
                                <input type="button" id="buyback_quick_submit" class="btn btn-success " value="Get Estimate">
                            </div>
                        {{ form_end(form) }}
                    {% else %}
                        <div class="alert alert-danger alert-dismissable">
                            <h4><i class="icon fa fa-ban"></i> EveCentral is Down!</h4>
                            The buyback site relies on EveCentral for statistical pricing information.  Due to EveCentral being down OgSYS will not accept buyback contracts.
                        </div>
                    {% endif %}
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->


        </div>
        <div class="col-md-6">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-credit-card"></i> Purchase Items</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    Future Feature!  Coming soon!
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->

        </div>

    </div>

    <div class="row">

        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-cart-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending Sales</span>
                    <span class="info-box-number" id="pendingSales">{{salesSummary.totalTransactionPending|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending Income</span>
                    <span class="info-box-number" id="pendingIncome">{{salesSummary.totalNetPending|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>


        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-cart-arrow-down"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending Purchases</span>
                    <span class="info-box-number" id="pendingPurchases">{{purchasesSummary.totalTransactionPending|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-credit-card"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Pending Expense</span>
                    <span class="info-box-number" id="pendingExpenses">{{purchasesSummary.totalNetPending|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>


        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-cart-plus"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Completed Sales</span>
                    <span class="info-box-number" id="completedSales">{{salesSummary.totalTransactionAccepted|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-money"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Completed Income</span>
                    <span class="info-box-number" id="completedIncome">{{salesSummary.totalNetAccepted|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>


        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-cart-arrow-down"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Completed Purchases</span>
                    <span class="info-box-number" id="completedPurchases">{{purchasesSummary.totalTransactionAccepted|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-gray"><i class="fa fa-credit-card"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Completed Expense</span>
                    <span class="info-box-number" id="completedExpense">{{purchasesSummary.totalNetAccepted|number_format(0, '.', ',')}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>

    </div>
    <div class="row">

        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-balance-scale"></i> My Item Sales</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped" id="rSales">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sale in oSales %}

                            {% if sale.status == 'Pending' %}
                            <tr class="success" id="row-{{sale.orderid}}">
                            {% elseif sale.status == 'Cancelled' %}
                                <tr class="danger" id="row-{{sale.orderid}}">
                            {% else %}
                                <tr class="bg-gray" id="row-{{sale.orderid}}">
                            {% endif %}
                            <td>{{sale.created|date("m/d/Y H:i")}}</td>
                            <td><a class="fake_link" data-type="{{sale.type}}">{{sale.orderid}}</a></td>
                            <td>{{sale.net|number_format(0, '.', ',')}}</td>
                            <td>
                                {% if sale.status == 'Pending' %}
                                    <span class="label label-success pull-right">{{sale.status}}</span>
                                {% elseif sale.status == 'Cancelled' %}
                                    <span class="label label-danger pull-right">{{sale.status}}</span>
                                {% else %}
                                    <span class="label label-grey pull-right">Complete</span>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-balance-scale"></i> My Item Purchases</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped" id="rSales">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for purchase in oPurchases %}

                            {% if sale.status == 'Pending' %}
                            <tr class="success" id="row-{{sale.orderid}}">
                            {% elseif sale.status == 'Cancelled' %}
                                <tr class="danger" id="row-{{sale.orderid}}">
                            {% else %}
                                <tr id="row-{{sale.orderid}}">
                            {% endif %}
                            <td>{{sale.created|date("m/d/Y H:i")}}</td>
                            <td><a class="fake_link" data-type="{{sale.type}}">{{sale.orderid}}</a></td>
                            <td>{{sale.net|number_format(0, '.', ',')}}</td>
                            <td>
                                {% if sale.status == 'Pending' %}
                                    <span class="label label-success pull-right">{{sale.status}}</span>
                                {% elseif sale.status == 'Cancelled' %}
                                    <span class="label label-danger pull-right">{{sale.status}}</span>
                                {% else %}
                                    <span class="label label-grey pull-right">Complete</span>
                                {% endif %}
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div><!-- /.box -->
        </div>

    </div>



    <div class="modal fade" id="index_modal">
      <div class="modal-dialog">
        <div class="modal-content" id="index_modal_content">

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="estimate_modal">
      <div class="modal-dialog" id="estimate_modal_content">
        <div class="modal-content">
            <div class="modal-loading"><i class="fa fa-refresh fa-spin"></i></div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    function blendColors(p) {
        c0 = '#FF0000';
        c1 = '#00CC00';
        var f=parseInt(c0.slice(1),16),t=parseInt(c1.slice(1),16),R1=f>>16,G1=f>>8&0x00FF,B1=f&0x0000FF,R2=t>>16,G2=t>>8&0x00FF,B2=t&0x0000FF;
        return "#"+(0x1000000+(Math.round((R2-R1)*p)+R1)*0x10000+(Math.round((G2-G1)*p)+G1)*0x100+(Math.round((B2-B1)*p)+B1)).toString(16).slice(1);
    }

    function submitQuickEstimate()
    {



    }

    $(document).ready(function (e) {

        $('.content').addClass('splitBackground');
        $('.content-header').addClass('splitBackground');

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        $( ".color-col" ).each( function(index) {
			$(this).css('background-color', blendColors($(this).attr('k')));
		});

        $('.data-table').DataTable();

        $('#rSales').DataTable({
            "order": [[ 0, "desc" ]],

            // Define custom handler for createdRow event
            "createdRow" : function( row, data, index ) {

                // Add identity if it specified
                if( data.hasOwnProperty("id") ) {
                    row.id = data.id;
                }

                // Add class if it specified
                if( data.hasOwnProperty("className") ) {
                    row.className = data.className;
                }
            },

            "fnDrawCallback": function( oSettings ) {
                bindClickFakeLink();
            }
        });

        $(".news_item_link").click(function(e) {

            $('#index_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_view_news')}}', {id: $(this).attr('data-i')},
                function(response)
                {
                    $( "#index_modal_content" ).html( response );
                }
            , "html");
        });

        $("#buyback_quick_submit").click(function(e)
        {
            $('#base_modal').modal({backdrop: "static"});
            $("#base_modal_content").html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>")
            $.post('{{path('ajax_estimate_buyback')}}', {'buy_back_form[items]': $("#buy_back_form_items").val()},
                function(response)
                {
                    $( "#base_modal_content" ).html( response );
                    //$('#buyback_quick_modal').modal({backdrop: "static"});
                }
            , "html");
        });

        $("#buyback_clear").click(function(e) {

            $("#buy_back_form_items").val('');
        });

        $("#buy_back_form_items").bind("paste", function(e) {

            var pData = e.originalEvent.clipboardData.getData('text');
            var numberOfLineBreaks = (pData.match(/\n/g)||[]).length;

            if(numberOfLineBreaks > 500) {

                $("#more-than-200").css("display", "block");
                e.preventDefault();
            } else {
                $("#more-than-200").css("display", "none");
             }
        });

    });

    function bindClickFakeLink() {

        $(".fake_link[data-type='P'],.fake_link[data-type='PS']").click(function(e) {

            //put spinner in modal
            $('#base_modal').modal({backdrop: "static"});
            $('#base_modal_content').html('<div class="modal-loading"><i class="fa fa-refresh fa-spin"></i></div>');

            $.get('{{path('ajax_view_transaction')}}', {id: $(this).html(), transaction_type: $(this).attr("data-type")},
                function(response)
                {
                    $( "#base_modal_content" ).html( response );
                }
                , "html");
        });
    }
</script>

{% endblock %}
