{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-balance-scale"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Outstanding Sales</span>
                    <span class="info-box-number" id="oSales">{{oSales|length}}</span>
                    <span class="text-muted"></span>
                </div><!-- /.info-box-content -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Sell Materials</h3>
                    <!--<div class="box-tools pull-right">
                        <span class="label label-primary">Label</span>
                    </div>--><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    {% form_theme form 'forms/my_bootstrap_layout_no_label.html.twig' %}
                    {{ form_start(form) }}
                        {{ form_row(form.items, {'attr': {'placeholder': 'Paste items from game here', 'style': 'height:200px;'}}) }}
                        <div id="buyback_submits">
                            <a class="btn btn-info pull-left" href="{{ path('pages', {'chapter_slug': 'help', 'topic_slug': 'help_using_buyback'}) }}#Selling Items" target="_new">Help</a>
                            <input type="button" id="buyback_clear" class="btn btn-danger " value="Clear">
                            <input type="button" id="buyback_quick_submit" class="btn btn-success " value="Get Estimate">
                        </div>
                    {{ form_end(form) }}
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-industry"></i> Industry Calculator</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    Future Feature!
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-balance-scale"></i> Outstanding Material Sales</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-striped" id="rSales">
                        <thead>
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sale in oSales %}
                            <tr>
                                <td>{{sale.created|date("m/d/Y H:i")}}</td>
                                <td><a class="fake_link" data-type="{{sale.type}}">{{sale.orderid}}</a></td>
                                <td>{{sale.net|number_format(0, '.', ',')}}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div><!-- /.box -->
        </div>
        <!--<div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Recent Material Orders</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>-->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true"><img src="https://image.eveonline.com/Type/1230_32.png"/>High Sec Ore</a></li>
                    <li class=""><a href="#tab_1-2" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/18_32.png"/>Other High Sec Ore</a></li>
                    <li class=""><a href="#tab_1-3" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/1226_32.png"/>Low Sec Ore</a></li>
                    <li class=""><a href="#tab_1-4" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/22_32.png"/>Null Sec Ore</a></li>
                    <li class=""><a href="#tab_1-5" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/16262_32.png"/>Ice</a></li>
                    <li class=""><a href="#tab_1-6" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/30372_32.png"/>Gas</a></li>
                    <li class=""><a href="#tab_1-7" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/34_32.png"/>Minerals</a></li>
                    <li class=""><a href="#tab_1-8" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/2267_32.png"/>Planetary Interaction</a></li>
                    <!--<li class=""><a href="#tab_1-8" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/2389_32.png"/>Planetary Interaction</a></li>-->
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1-1">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Price /m3
                                    </th>
                                    <th>
                                        Units /Can
                                    </th>
                                    <th>
                                        Price /Can
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ore in highsecores %}
                                    <tr>
                                        <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                        <td>{{ore.volume}}</td>
                                        <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                        <td class="color-col" k="{{ore.color}}"></td>
                                        <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                        <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                        <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                  </div>
                  <div class="tab-pane" id="tab_1-2">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                      <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Price /m3
                                    </th>
                                    <th>
                                        Units /Can
                                    </th>
                                    <th>
                                        Price /Can
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for ore in otherhighsecores %}
                                  <tr>
                                      <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                      <td>{{ore.volume}}</td>
                                      <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                      <td class="color-col" k="{{ore.color}}"></td>
                                      <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                      <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                      <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-3">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Price /m3
                                    </th>
                                    <th>
                                        Units /Can
                                    </th>
                                    <th>
                                        Price /Can
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for ore in lowsecores %}
                                  <tr>
                                      <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                      <td>{{ore.volume}}</td>
                                      <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                      <td class="color-col" k="{{ore.color}}"></td>
                                      <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                      <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                      <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-4">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Price /m3
                                    </th>
                                    <th>
                                        Units /Can
                                    </th>
                                    <th>
                                        Price /Can
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for ore in nullsecores %}
                                  <tr>
                                      <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                      <td>{{ore.volume}}</td>
                                      <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                      <td class="color-col" k="{{ore.color}}"></td>
                                      <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                      <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                      <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                  </tr>
                              {% endfor %}
                          </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-5">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th>
                                        Units /Can
                                    </th>
                                    <th>
                                        Price /Can
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for ore in iceores %}
                                  <tr>
                                      <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                      <td>{{ore.volume}}</td>
                                      <td class="color-col" k="{{ore.color}}"></td>
                                      <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                      <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                      <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-6">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th>
                                        Unit Price
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Price /m3
                                    </th>
                                    <th>
                                        Units /Can
                                    </th>
                                    <th>
                                        Price /Can
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for ore in gasores %}
                                  <tr>
                                      <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                      <td>{{ore.volume}}</td>
                                      <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                      <td class="color-col" k="{{ore.color}}"></td>
                                      <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                      <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                      <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-7">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <table class="table table-striped images-table-small data-table">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Volume
                                    </th>
                                    <th class="color-col"></th>
                                    <th>
                                        Unit Price
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for ore in mineralores %}
                                  <tr>
                                      <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                      <td>{{ore.volume}}</td>
                                      <td class="color-col" k="{{ore.color}}"></td>
                                      <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  </tr>
                              {% endfor %}
                            </tbody>
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-8">
                        <p>These prices are updated every 15 minutes and already include the Corp Tax.</p>
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_3-1" data-toggle="tab" aria-expanded="true">P0</a></li>
                                <li class=""><a href="#tab_3-2" data-toggle="tab" aria-expanded="false">P1</a></li>
                                <li class=""><a href="#tab_3-3" data-toggle="tab" aria-expanded="false">P2</a></li>
                                <li class=""><a href="#tab_3-4" data-toggle="tab" aria-expanded="false">P3</a></li>
                                <li class=""><a href="#tab_3-5" data-toggle="tab" aria-expanded="false">P4</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_3-1">
                                    <table class="table table-striped images-table-small data-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Volume
                                                </th>
                                                <th class="color-col"></th>
                                                <th>
                                                    Unit Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ore in p0ores %}
                                            <tr>
                                                <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png"/>
                                                    <span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span>
                                                </td>
                                                <td>{{ore.volume}}</td>
                                                <td class="color-col" k="{{ore.color}}"></td>
                                                <td>{{ore.iskper|number_format(2, '.', ',')}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_3-2">
                                    <table class="table table-striped images-table-small data-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Volume
                                                </th>
                                                <th class="color-col"></th>
                                                <th>
                                                    Unit Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ore in p1ores %}
                                                <tr>
                                                    <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                                    <td>{{ore.volume}}</td>
                                                    <td class="color-col" k="{{ore.color}}"></td>
                                                    <td>{{ore.iskper|number_format(2, '.', ',')}}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_3-3">
                                    <table class="table table-striped images-table-small data-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Volume
                                                </th>
                                                <th class="color-col"></th>
                                                <th>
                                                    Unit Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ore in p2ores %}
                                            <tr>
                                                <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png"/>
                                                    <span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span>
                                                </td>
                                                <td>{{ore.volume}}</td>
                                                <td class="color-col" k="{{ore.color}}"></td>
                                                <td>{{ore.iskper|number_format(2, '.', ',')}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_3-4">
                                    <table class="table table-striped images-table-small data-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Volume
                                                </th>
                                                <th class="color-col"></th>
                                                <th>
                                                    Unit Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ore in p3ores %}
                                            <tr>
                                                <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png"/>
                                                    <span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span>
                                                </td>
                                                <td>{{ore.volume}}</td>
                                                <td class="color-col" k="{{ore.color}}"></td>
                                                <td>{{ore.iskper|number_format(2, '.', ',')}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                                <div class="tab-pane" id="tab_3-5">
                                    <table class="table table-striped images-table-small data-table">
                                        <thead>
                                            <tr>
                                                <th>
                                                    Name
                                                </th>
                                                <th>
                                                    Volume
                                                </th>
                                                <th class="color-col"></th>
                                                <th>
                                                    Unit Price
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for ore in p4ores %}
                                            <tr>
                                                <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png"/>
                                                    <span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span>
                                                </td>
                                                <td>{{ore.volume}}</td>
                                                <td class="color-col" k="{{ore.color}}"></td>
                                                <td>{{ore.iskper|number_format(2, '.', ',')}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-shield"></i> Recent Ship Orders</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-ticket"></i> Latest Raffle Information</h3>
                </div>
                <div class="box-body">
                    Have notices on upcoming specials?  Sales?  Site down time?  etc here.
                </div>
            </div>
        </div>
    </div>-->

    <div class="modal fade" id="index_modal">
      <div class="modal-dialog">
        <div class="modal-content" id="index_modal_content">

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div class="modal fade" id="estimate_modal">
      <div class="modal-dialog" id="estimate_modal_content">
        <div class="modal-content">
            <div class="modal-loading">
                <i class="fa fa-refresh fa-spin"></i>
            </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    function blendColors(p) {
        c0 = '#FF0000';
        c1 = '#00CC00';
        var f=parseInt(c0.slice(1),16),t=parseInt(c1.slice(1),16),R1=f>>16,G1=f>>8&0x00FF,B1=f&0x0000FF,R2=t>>16,G2=t>>8&0x00FF,B2=t&0x0000FF;
        return "#"+(0x1000000+(Math.round((R2-R1)*p)+R1)*0x10000+(Math.round((G2-G1)*p)+G1)*0x100+(Math.round((B2-B1)*p)+B1)).toString(16).slice(1);
    }

    function submitQuickEstimate()
    {
        $.post('{{path('ajax_estimate_buyback')}}', {items: $("#items").val()},
            function(response)
            {
                $( "#estimate_modal_content" ).html( response );
                //$('#buyback_quick_modal').modal({backdrop: "static"});
            }
        , "html");
    }

    $(document).ready(function (e) {

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        $( ".color-col" ).each( function(index) {
			$(this).css('background-color', blendColors($(this).attr('k')));
		});

        $('.data-table').DataTable();

        $('#rSales').DataTable({
            "order": [[ 0, "desc" ]]
        });

        $(".news_item_link").click(function(e) {

            $('#index_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_view_news')}}', {id: $(this).attr('data-i')},
                function(response)
                {
                    $( "#index_modal_content" ).html( response );
                }
            , "html");
        });

        $("#buyback_quick_submit").click(function(e)
        {
            $('#estimate_modal').modal({backdrop: "static"});
            submitQuickEstimate();
        });

        $("#buyback_clear").click(function(e) {

            $("#items").val('');
        });

        $(".fake_link[data-type='P'],.fake_link[data-type='PS']").click(function(e) {

            $('#index_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_view_transaction')}}', {id: $(this).html(), transaction_type: $(this).attr("data-type")},
                function(response)
                {
                    $( "#index_modal_content" ).html( response );
                }
            , "html");
        });
    });
</script>

{% endblock %}
