{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="oSales">{{oSales|length}}</h3>
                    <p>Outstanding Sales</p>
                </div>
                <div class="icon">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <div class="small-box-footer"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Material Sell (Estimate)</h3>
                    <!--<div class="box-tools pull-right">
                        <span class="label label-primary">Label</span>
                    </div>--><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include('buyback/buybackblock.html.twig') }}
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Site News</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-success">New!</span>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th style="width:150px;">Date</th>
                            <th>Subject</th>
                        </tr>
                        {% for newsItem in news %}
                            <tr>
                                <td>{{newsItem.createdon|date("m/d/Y H:i")}}</td>
                                <td><span class="fake_link news_item_link" data-i="{{newsItem.id}}">{{newsItem.subject}}</span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-balance-scale"></i> Outstanding Material Sales</h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped" id="rSales">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        {% for sale in oSales %}
                            <tr>
                                <td>{{sale.created|date("m/d/Y H:i")}}</td>
                                <td>{{sale.orderid}}</td>
                                <td>{{sale.net|number_format(0, '.', ',')}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <!--<div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Recent Material Orders</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>-->
    </div>

    <!--<div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-shield"></i> Recent Ship Orders</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-ticket"></i> Latest Raffle Information</h3>
                </div>
                <div class="box-body">
                    Have notices on upcoming specials?  Sales?  Site down time?  etc here.
                </div>
            </div>
        </div>
    </div>-->

    <div class="modal fade" id="index_modal">
      <div class="modal-dialog">
        <div class="modal-content" id="index_modal_content">

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function (e) {

        $(".news_item_link").click(function(e) {

            $('#index_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_view_news')}}', {id: $(this).attr('data-i')},
                function(response)
                {
                    $( "#index_modal_content" ).html( response );
                }
            , "html");
        });
    });
</script>

{% endblock %}
