{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3">
            <div class="small-box bg-aqua">
                <div class="inner">
                    <h3 id="oSales">{{oSales|length}}</h3>
                    <p>Outstanding Sales</p>
                </div>
                <div class="icon">
                    <i class="fa fa-balance-scale"></i>
                </div>
                <div class="small-box-footer"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-search"></i> Material Sell (Estimate)</h3>
                    <!--<div class="box-tools pull-right">
                        <span class="label label-primary">Label</span>
                    </div>--><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    {{ include('buyback/buybackblock.html.twig') }}
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-newspaper-o"></i> Site News</h3>
                    <div class="box-tools pull-right">
                        <span class="label label-success">New!</span>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th style="width:150px;">Date</th>
                            <th>Subject</th>
                        </tr>
                        {% for newsItem in news %}
                            <tr>
                                <td>{{newsItem.createdon|date("m/d/Y H:i")}}</td>
                                <td><span class="fake_link news_item_link" data-i="{{newsItem.id}}">{{newsItem.subject}}</span></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-balance-scale"></i> Outstanding Material Sales</h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped" id="rSales">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        {% for sale in oSales %}
                            <tr>
                                <td>{{sale.created|date("m/d/Y H:i")}}</td>
                                <td><a class="fake_link" data-type="P">{{sale.orderid}}</a></td>
                                <td>{{sale.net|number_format(0, '.', ',')}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div><!-- /.box-body -->
                <!--<div class="box-footer">
                    The footer of the box
                </div>--><!-- box-footer -->
            </div><!-- /.box -->
        </div>
        <!--<div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-shopping-cart"></i> Recent Material Orders</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>-->
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1-1" data-toggle="tab" aria-expanded="true"><img src="https://image.eveonline.com/Type/1230_32.png"/>High Sec Ore</a></li>
                    <li class=""><a href="#tab_1-2" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/18_32.png"/>Other High Sec Ore</a></li>
                    <li class=""><a href="#tab_1-3" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/1226_32.png"/>Low Sec Ore</a></li>
                    <li class=""><a href="#tab_1-4" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/22_32.png"/>Null Sec Ore</a></li>
                    <li class=""><a href="#tab_1-5" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/16262_32.png"/>Ice</a></li>
                    <li class=""><a href="#tab_1-6" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/30372_32.png"/>Gas</a></li>
                    <li class=""><a href="#tab_1-7" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/34_32.png"/>Minerals</a></li>
                    <!--<li class=""><a href="#tab_1-8" data-toggle="tab" aria-expanded="false"><img src="https://image.eveonline.com/Type/2389_32.png"/>Planetary Interaction</a></li>-->
                </ul>
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1-1">
                        <table class="table table-striped images-table-small">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Volume
                                </th>
                                <th>
                                    Unit Price
                                </th>
                                <th class="color-col"></th>
                                <th>
                                    Price /m3
                                </th>
                                <th>
                                    Units /Can
                                </th>
                                <th>
                                    Price /Can
                                </th>
                            </tr>

                            {% for ore in highsecores %}
                                <tr>
                                    <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                    <td>{{ore.volume}}</td>
                                    <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                    <td class="color-col" k="{{ore.color}}"></td>
                                    <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                    <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                    <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                  </div>
                  <div class="tab-pane" id="tab_1-2">
                      <table class="table table-striped images-table-small">
                          <tr>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Volume
                              </th>
                              <th>
                                  Unit Price
                              </th>
                              <th class="color-col"></th>
                              <th>
                                  Price /m3
                              </th>
                              <th>
                                  Units /Can
                              </th>
                              <th>
                                  Price /Can
                              </th>
                          </tr>

                          {% for ore in otherhighsecores %}
                              <tr>
                                  <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                  <td>{{ore.volume}}</td>
                                  <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  <td class="color-col" k="{{ore.color}}"></td>
                                  <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                  <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-3">
                      <table class="table table-striped images-table-small">
                          <tr>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Volume
                              </th>
                              <th>
                                  Unit Price
                              </th>
                              <th class="color-col"></th>
                              <th>
                                  Price /m3
                              </th>
                              <th>
                                  Units /Can
                              </th>
                              <th>
                                  Price /Can
                              </th>
                          </tr>

                          {% for ore in lowsecores %}
                              <tr>
                                  <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                  <td>{{ore.volume}}</td>
                                  <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  <td class="color-col" k="{{ore.color}}"></td>
                                  <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                  <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-4">
                      <table class="table table-striped images-table-small">
                          <tr>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Volume
                              </th>
                              <th>
                                  Unit Price
                              </th>
                              <th class="color-col"></th>
                              <th>
                                  Price /m3
                              </th>
                              <th>
                                  Units /Can
                              </th>
                              <th>
                                  Price /Can
                              </th>
                          </tr>

                          {% for ore in nullsecores %}
                              <tr>
                                  <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                  <td>{{ore.volume}}</td>
                                  <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  <td class="color-col" k="{{ore.color}}"></td>
                                  <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                  <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-5">
                      <table class="table table-striped images-table-small">
                          <tr>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Volume
                              </th>
                              <th class="color-col"></th>
                              <th>
                                  Unit Price
                              </th>
                              <th>
                                  Units /Can
                              </th>
                              <th>
                                  Price /Can
                              </th>
                          </tr>

                          {% for ore in iceores %}
                              <tr>
                                  <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                  <td>{{ore.volume}}</td>
                                  <td class="color-col" k="{{ore.color}}"></td>
                                  <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-6">
                      <table class="table table-striped images-table-small">
                          <tr>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Volume
                              </th>
                              <th>
                                  Unit Price
                              </th>
                              <th class="color-col"></th>
                              <th>
                                  Price /m3
                              </th>
                              <th>
                                  Units /Can
                              </th>
                              <th>
                                  Price /Can
                              </th>
                          </tr>

                          {% for ore in gasores %}
                              <tr>
                                  <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                  <td>{{ore.volume}}</td>
                                  <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  <td class="color-col" k="{{ore.color}}"></td>
                                  <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                  <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                  <div class="tab-pane" id="tab_1-7">
                      <table class="table table-striped images-table-small">
                          <tr>
                              <th>
                                  Name
                              </th>
                              <th>
                                  Volume
                              </th>
                              <th>
                                  Unit Price
                              </th>
                              <th class="color-col"></th>
                              <th>
                                  Price /m3
                              </th>
                              <th>
                                  Units /Can
                              </th>
                              <th>
                                  Price /Can
                              </th>
                          </tr>

                          {% for ore in mineralores %}
                              <tr>
                                  <td><img src="https://image.eveonline.com/Type/{{ore.typeid}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{ore.typeid}}">{{ore.name}}</span></td>
                                  <td>{{ore.volume}}</td>
                                  <td>{{ore.iskper|number_format(0, '.', ',')}}</td>
                                  <td class="color-col" k="{{ore.color}}"></td>
                                  <td><strong>{{ore.iskperm|number_format(0, '.', ',')}}</strong></td>
                                  <td>{{ore.canunits|number_format(0, '.', ',')}}</td>
                                  <td>{{ore.canprice|number_format(0, '.', ',')}}</td>
                              </tr>
                          {% endfor %}
                      </table>
                  </div>
                </div>
              </div>
        </div>
    </div>
    <!--<div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-shield"></i> Recent Ship Orders</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>Date</th>
                            <th>Order ID</th>
                            <th>Isk Amount</th>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                        <tr>
                            <td>11/1/2015</td>
                            <td>S565791e09af28</td>
                            <td>26,845,988</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-ticket"></i> Latest Raffle Information</h3>
                </div>
                <div class="box-body">
                    Have notices on upcoming specials?  Sales?  Site down time?  etc here.
                </div>
            </div>
        </div>
    </div>-->

    <div class="modal fade" id="index_modal">
      <div class="modal-dialog">
        <div class="modal-content" id="index_modal_content">

        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    function blendColors(p) {
        c0 = '#FF0000';
        c1 = '#00CC00';
        var f=parseInt(c0.slice(1),16),t=parseInt(c1.slice(1),16),R1=f>>16,G1=f>>8&0x00FF,B1=f&0x0000FF,R2=t>>16,G2=t>>8&0x00FF,B2=t&0x0000FF;
        return "#"+(0x1000000+(Math.round((R2-R1)*p)+R1)*0x10000+(Math.round((G2-G1)*p)+G1)*0x100+(Math.round((B2-B1)*p)+B1)).toString(16).slice(1);
    }

    $(document).ready(function (e) {

        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })

        $( ".color-col" ).each( function(index) {
			$(this).css('background-color', blendColors($(this).attr('k')));
		});

        $(".news_item_link").click(function(e) {

            $('#index_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_view_news')}}', {id: $(this).attr('data-i')},
                function(response)
                {
                    $( "#index_modal_content" ).html( response );
                }
            , "html");
        });

        $(".fake_link[data-type='P']").click(function(e) {

            $('#index_modal').modal({backdrop: "static"});

            $.get('{{path('ajax_view_transaction')}}', {id: $(this).html(), transaction_type: $(this).attr("data-type")},
                function(response)
                {
                    $( "#index_modal_content" ).html( response );
                }
            , "html");
        });
    });
</script>

{% endblock %}
