
<div class="form-group">
    <div class="row">
        <div class="col-sm-8">
            <label for="maintenance_mode_base" class="control-label">Value Ore by Minerals</label>
            <p>This option will value any item that can be reprocessed by Refining Skill by it's mineral yield at the Refining Rate listed below.</p>
        </div>
        <div class="col-sm-4">
            <div class="checkbox icheck" style="text-align:right;margin-right:30px;">
                <label>
                    <input type="checkbox" id="value_minerals_base" data-t="value_minerals" {{ (settings.value_minerals == "1") ? 'checked' : '' }}/>
                    <input type="hidden" id="value_minerals" name="value_minerals" value="{{ (settings.value_minerals == "1") ? "1" : "0" }}"/>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-8">
            <label for="maintenance_mode_base" class="control-label">Value Salvage by Minerals</label>
            <p>This option will value any item that can be reprocessed by Salvaging Skill by it's mineral yield at the Refining Rate listed below.</p>
        </div>
        <div class="col-sm-4">
            <div class="checkbox icheck" style="text-align:right;margin-right:30px;">
                <label>
                    <input type="checkbox" id="value_salvage_base" data-t="value_salvage" {{ (settings.value_salvage == "1") ? 'checked' : '' }}/>
                    <input type="hidden" id="value_salvage" name="value_salvage" value="{{ (settings.value_salvage == "1") ? "1" : "0" }}"/>
                </label>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-8">
            <label for="source_id" class="control-label">Ore Refining Rate</label>
            <p>Lowest rate at which we refine ore at.</a>.</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" type="text" id="ore_refine_rate" name="ore_refine_rate" value="{{ settings.ore_refine_rate }}"/>
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-8">
            <label for="source_id" class="control-label">Moon Ore Refining Rate</label>
            <p>Lowest rate at which we refine moon ore at.</a>.</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" type="text" id="moon_refine_rate" name="moon_refine_rate" value="{{ settings.moon_refine_rate }}"/>
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-8">
            <label for="source_id" class="control-label">Ice Refining Rate</label>
            <p>Lowest rate at which we refine ice at.</a>.</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" type="text" id="ice_refine_rate" name="ice_refine_rate" value="{{ settings.ice_refine_rate }}"/>
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>
</div>
<div class="form-group">
    <div class="row">
        <div class="col-sm-8">
            <label for="source_id" class="control-label">Salvage Refining Rate</label>
            <p>Lowest rate at which we salvage stuff at.</a>.</p>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <input class="form-control" type="text" id="salvage_refine_rate" name="salvage_refine_rate" value="{{ settings.salvage_refine_rate }}"/>
                <span class="input-group-addon">%</span>
            </div>
        </div>
    </div>
</div>

