{% extends 'secure_base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-wrench" aria-hidden="true"></i> Registration Settings</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" class="form-control" id="corp-search-input" name="corp-search-input"
                                   placeholder="Search for Alliance/Corporations">
                        </div>
                        <div class="col-md-3">
                            <input type="button" class="form-control btn btn-primary" id="corp-search-button"
                                   name="corp-search-input" value="Search">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-info" style="margin-top:20px;">
                                <p>If no Alliance or Corporations are listed then registration is open, otherwise
                                registration is limited to only members of the listed Alliances/Corporations.</p>
                            </div>
                            <table class="table table-striped images-table top-margin-20">
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th style="width:75px;">Actions</th>
                                </tr>
                                {% for item in items %}
                                    {% if item.type == 'A' %}
                                        <tr>
                                            <td><img src="https://image.eveonline.com/Alliance/{{ item.eveid }}_32.png" style="margin-right: 20px;"> {{ item.name }}</td>
                                            <td>Alliance</td>
                                            <td><a href="{{ path('admin_registration_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Delete</a></td>
                                        </tr>
                                    {% elseif item.type == 'C' %}
                                        <tr>
                                            <td><img src="https://image.eveonline.com/Corporation/{{ item.eveid }}_32.png" style="margin-right: 20px;"> {{ item.name }}</td>
                                            <td>Corporation</td>
                                            <td><a href="{{ path('admin_registration_delete', {'id': item.id}) }}" class="btn btn-danger btn-xs"><i class="fa fa-times" aria-hidden="true"></i> Delete</a></td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        function doCorpSearch() {

            $( "#base_modal_content" ).html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");
            $('#base_modal').modal({backdrop: "static"});

            $.post('{{path('ajax_CorpSearch')}}', {searchstring: $("#corp-search-input").val()},
                    function(response)
                    {
                        $( "#base_modal_content" ).html( response );
                    }
                    , "html");

            $("#search-input").val("");
        }

        $(document).ready(function (e) {

            $("#corp-search-button").click(function(e) {

                doCorpSearch();
            });

            $("#corp-search-input").keydown(function(e) {

                if(e.keyCode == 13) {

                    doCorpSearch();
                }
            });
        });

    </script>

{% endblock %}
