<div class="modal-content">
    <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <h4 class="modal-title">Request received!</h4>
    </div>
    <div class="modal-body" >
        <div class="srp-results-container">
            <p>We have received your SRP Request!</p>
			<p>Please allow us a few days to review and respond to your request.</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" id="buybackacceptclose" class="btn btn-warning" data-dismiss="modal">Close</button>
    </div>
</div>

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("#buybackacceptclose").click(function(e) {

            //hide modal
            $('#base_modal').modal('hide');

            //update info boxes
            updateInfoBox($("#pendingSales"), 1);
            updateInfoBox($("#pendingIncome"), {{ transaction.net }});

            // Add some data
            var data = [
                '{{transaction.created|date("m/d/Y H:i")}}',
                '<a class="fake_link" data-type="{{transaction.type}}">{{transaction.orderid}}</a>',
                '{{transaction.net|number_format(0, '.', ',')}}',
                '<span class="label label-success pull-right">{{transaction.status}}</span>'
            ];

            // add id and class
            data.id = "row-{{transaction.orderid}}";
            data.className = "success";

            $("#rSales").DataTable().row.add(data).draw(true);

            //clear buyback form
            $("#buy_back_form_items").val('');

            //set onclick event for new datatable entry
            bindClickFakeLink();
        });
    });

</script>

{% endblock %}
