
							{% if losses|length == 0 %}
								
									<div style='padding: 10px;'>
										You have no recent losses. Congratulations.
									</div>
								
							{% else %}
								
							<table class="table table-bordered table-hover" id="zLosses">

                                <thead>

                                <tr>
								
									<th class='hidden'>ID</th>
								
									<th>Icon</th>

                                    <th>Date</th>

                                    <th>Ship Type</th>

                                    <th>Options</th>

                                </tr>

                                </thead>

                                <tbody>

                                {% for loss in losses %}

									<tr id="kill-{{loss.killmail_id}}">

										<td class='hidden'>{{loss.killmail_id}}</td>
									
										<td>
											<a href="https://zkillboard.com/kill/{{loss.killmail_id}}/" target="_blank">
												<img src='https://imageserver.eveonline.com/Type/{{loss.victim.ship_type_id}}_64.png' />
											</a>
										</td>

										<td>
											<a href="https://zkillboard.com/kill/{{loss.killmail_id}}/" target="_blank">
												{{loss.killmail_time|date("D, M jS")}}<br />@ {{loss.killmail_time|date("G:s")}}
											</a>
										</td>

										<td>{{loss.victim.ship_type_id}}</td>
										
										<td>
										{% if loss.srp_status == "" %}
											<a class="btn bg-green requestSRP" data-killid="{{loss.killmail_id}}">Request SRP</a>
											<!--<a class="btn bg-blue">Order</a>-->
										{% elseif loss.srp_status == "Complete" %}
											Already SRP'd
										{% elseif loss.srp_status == "Rejected" %}
											Already SRP'd (Denied)
										{% else %}
											In Process...
										{% endif %}
										</td>

                                    </tr>

                                {% endfor %}

                                </tbody>

                            </table>
							
							{% endif %}