{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Outstanding Income</span>
                <span class="info-box-number" id="oSales">0</span>
                <span class="text-muted"></span>
            </div><!-- /.info-box-content -->
        </div>
        <p><small>Does not include cancelled contracts.</small></p>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Outstanding Expense</span>
                <span class="info-box-number" id="oExpense">{{oExpense|number_format(0, '.', ',')}}</span>
                <span class="text-muted"></span>
            </div><!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-file-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Contracts to Complete</span>
                <span class="info-box-number" id="cComplete">{{cComplete}}</span>
                <span class="text-muted"></span>
            </div><!-- /.info-box-content -->
        </div>
    </div>
    <div class="col-lg-3 col-md-6">
        <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-file-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Contracts to Create</span>
                <span class="info-box-number">0</span>
                <span class="text-muted"></span>
            </div><!-- /.info-box-content -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-file-o"></i> Transactions</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <table class="table table-striped data-table" id="transactions-table">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Order ID</th>
                        <th>User</th>
                        <th>Gross</th>
                        <th>Net</th>
                        <th>Profit</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in transactions %}
                        {% if transaction.status == 'Pending' %}
                            <tr class="success" id="row-{{transaction.orderid}}">
                        {% elseif transaction.status == 'Cancelled' %}
                            <tr class="danger" id="row-{{transaction.orderid}}">
                        {% else %}
                            <tr id="row-{{transaction.orderid}}">
                        {% endif %}
                            <td>{{transaction.created|date("m/d/Y H:i")}}</td>
                            <td><a class="fake_link">{{transaction.orderid}}</a></td>
                            <td>{{transaction.user.username}}</td>
                            <td>{{transaction.gross|number_format(0, '.', ',')}}</td>
                            <td>{{transaction.net|number_format(0, '.', ',')}}</td>
                            <td>{{(transaction.gross - transaction.net)|number_format(0, '.', ',')}}</td>
                            <td>
                                {% if transaction.status == 'Pending' %}
                                    <span class="label label-success pull-right">{{transaction.status}}</span>
                                {% elseif transaction.status == 'Cancelled' %}
                                    <span class="label label-danger pull-right">{{transaction.status}}</span>
                                {% else %}
                                    <span class="label label-grey pull-right">Complete</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div><!-- /.box-body -->
            <!--<div class="box-footer">
                The footer of the box
            </div>--><!-- box-footer -->
        </div><!-- /.box -->
    </div>
</div>

<div class="modal fade" id="transaction_modal">
  <div class="modal-dialog">
    <div class="modal-content" id="transaction_modal_content">
        <div class="modal-loading">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $(".fake_link").click(function(e)
        {
            processTransaction($(this).html());
        });

        $('#transactions-table').DataTable({
            "order": [[ 0, "desc" ]]
        });
    });

    function processTransaction($id)
    {
        $.post('{{ path('ajax_process_transaction') }}', {id: $id},
            function(response)
            {
                $( "#transaction_modal_content" ).html( response );
                $('#transaction_modal').modal({backdrop: "static"});
            }
        , "html");
    }

</script>

{% endblock %}
