<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Processing Transaction</h4>
    <!-- /.box-tools -->
</div>
<div class="modal-body" >
    <div class="buyback-results-container">
        <div>
            {% if transaction.type == "P" or transaction.type == "PS" %}
                <div class="col-md-12" style="text-align: center">
                    <p>This transaction requires a contract be accepted from a player. If no contract is present then DO NOT PAY THEM!</p>
                    <p>You may verify the contract by pasting its contents below or by manually comparing the contract to a list.</p>
                </div>
                <hr />
                <div class="col-md-6">
                    {% form_theme form 'forms/my_bootstrap_layout_no_label.html.twig' %}
                    {{ form_start(form) }}
                        {{ form_row(form.items, {'attr': {'placeholder': 'Paste items from game here', 'style': 'height:135px; '}}) }}
                        <input type="hidden" id="orderId" value="{{ transaction.orderid }}" />
                        <div id="validate_submits" class="right_justify_submits">
                            <input type="button" id="validate_clear" class="btn btn-danger" onclick="$('#buy_back_form_items').val('');" value="Clear">
                            <input type="button" id="validate_quick_submit" class="btn btn-success" onclick="validateContract(); return false;" value="Validate">
                        </div>
                    {{ form_end(form) }}
                </div>
                <div class="col-md-6">
                    <table class="table table-striped">
                        <tr>
                            <th>Order Id:</th>
                            <td>{{ transaction.orderid }}</td>
                        </tr>
                        <tr>
                            <th>Status:</th>
                            <td>{{ transaction.status }}</td>
                        </tr>
                        <tr>
                            <th>Type:</th>
                            <td>Accept Contract</td>
                        </tr>
                        <tr>
                            <th>From:</th>
                            {% if transaction.user == null %}
                                <td>Guest</td>
                            {% else %}
                                <td>{{ transaction.user.username }}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th>Amount:</th>
                            <td>{{ transaction.net|number_format(0, '.', ',') }}</td>
                        </tr>
                    </table>
                </div>
                <br />

                <div class="container col-md-12">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#auto_verify_results" data-toggle="tab">Auto Verify</a>
                        </li>
                        <li>
                            <a href="#manual_verify_results" data-toggle="tab">Manual Verify</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane active" id="auto_verify_results">
                            <p>Please paste the contract contents in the box above</p>
                        </div>
                        <div class="tab-pane" id="manual_verify_results">
                            <div>
                                <table class="table table-striped images-table">
                                    <tr>
                                        <th style="width:100px;">Quantity</th>
                                        <th>Item</th>
                                        <th>Unit Price</th>
                                        <th>Net Price</th>
                                    </tr>
                                    {% for item in transaction.lineitems %}
                                        <tr class="mark_off">
                                            <td>{{ item.quantity|number_format(0, '.', ',') }}</td>
                                            <td><img src="https://image.eveonline.com/Type/{{item.TypeId}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{item.typeid}}">{{ item.name }}</span></td>
                                            <td>{{ item.marketprice|number_format(0,'.',',') }}</td>
                                            <td>{{ item.netprice|number_format(0,'.',',') }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>
</div>
<div class="modal-footer">
    {% if not transaction.iscomplete %}
        <button type="button" id="processDecline-button" class="btn btn-danger" data-dismiss="modal">Decline</button>
        <button type="button" id="processAccept-button" class="btn btn-success" data-dismiss="modal">Accept and Process</button>
    {% else %}
        <button type="button" id="processReopen-button" class="btn btn-warning" data-dismiss="modal">Reopen Transaction</button>
        <button type="button" id="processClose-button" class="btn btn-default" data-dismiss="modal">Close</button>
    {% endif %}
</div>

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("#processAccept-button").click(function (e) {

            $.post('{{path('ajax_close_transaction')}}', {id: "{{ transaction.orderid }}"},
                function(response)
                {
                    //update transaction row
                    $("#row-{{transaction.orderid}}").removeClass('success')
                                                    .addClass('bg-gray');
                    $("#row-{{transaction.orderid}} TD:nth-child(7) SPAN").removeClass('label-success')
                                                                        .addClass('label-grey')
                                                                        .html('Complete');


                    //update info boxes
                    updateInfoBox($("#netPending"), {{transaction.net * -1}});
                    updateInfoBox($("#transactionPending"), -1);
                    updateInfoBox($("#profitPending"), {{(transaction.gross - transaction.net) * -1}});
                    updateInfoBox($("#totalExpense"), {{transaction.net}});
                    updateInfoBox($("#totalAccepted"), 1);
                    updateInfoBox($("#totalProfit"), {{transaction.gross - transaction.net}});

                    //update badging
                    updatePurchaseQueueBadge(-1);

                }
            , "html");
        });

        $("#processDecline-button").click(function (e) {

            $.post('{{path('ajax_decline_transaction')}}', {id: "{{ transaction.orderid }}"},
                function(response)
                {
                    $("#row-{{transaction.orderid}}").removeClass('success')
                                                    .addClass('danger');
                    $("#row-{{transaction.orderid}} TD:nth-child(7) SPAN").removeClass('label-success')
                                                                        .addClass('label-danger')
                                                                        .html('Cancelled');

                    //update info boxes
                    updateInfoBox($("#netPending"), {{transaction.net * -1}});
                    updateInfoBox($("#transactionPending"), -1);
                    updateInfoBox($("#profitPending"), {{(transaction.gross - transaction.net) * -1}});

                    //update badging
                    updatePurchaseQueueBadge(-1);
                }
            , "html");
        });

        $("#processReopen-button").click(function (e) {

            $.post('{{path('ajax_reopen_transaction')}}', {id: "{{ transaction.orderid }}"},
                function(response)
                {
                    var status = $("#row-{{transaction.orderid}} TD:nth-child(7) SPAN").html();

                    $("#row-{{transaction.orderid}}").removeClass('label-grey')
                                                    .removeClass('danger')
                                                    .addClass('success');
                    $("#row-{{transaction.orderid}} TD:nth-child(7) SPAN").removeClass('label-grey')
                                                                        .removeClass('label-danger')
                                                                        .addClass('label-success')
                                                                        .html('Pending');

                    //update info boxes
                    updateInfoBox($("#netPending"), {{transaction.net}});
                    updateInfoBox($("#transactionPending"), 1);
                    updateInfoBox($("#profitPending"), {{transaction.gross - transaction.net}});

                    if (status === 'Complete') {
                        updateInfoBox($("#totalExpense"), {{ transaction.net * -1 }});
                        updateInfoBox($("#totalAccepted"), -1);
                        updateInfoBox($("#totalProfit"), {{ ( transaction.gross - transaction.net ) * -1 }});
                    }

                    //update badging
                    updatePurchaseQueueBadge(1);
                }
                , "html");
        });

        $(".mark_off").click(function(e)
        {
            if(!$(this).hasClass('success')) {

                $(this).addClass("success");
            } else {

                $(this).removeClass("success");
            }
        });
    });

    function validateContract() {
        $('#auto_verify_results').html('<div class="modal-loading"><i class="fa fa-refresh fa-spin"></i></div>');
        //ajax form
        var $formInput = $('#alliance_market_form_items').val();
        var $orderId = $('#orderId').val();
        console.log($formInput);
        $.post('{{ path('ajax_validate_transaction') }}', {formInput: $formInput, orderId: $orderId},
            function(response)
            {
                processValidationResponse(response);
            }
            , "html");

        //clear form
        $('#alliance_market_form_items').val('');
    }

    function processValidationResponse(response) {
        $('#auto_verify_results').html(response);
    }

</script>

{% endblock %}
