
{% if transaction.type == 'P' %}
    {% set instructions =
    '<p>This transaction required a contract from you (the player) to '~ contractCorp ~' (the corp).</p>'
    %}
{% elseif transaction.type == 'S' %}
    {% set instructions =
    '<p>This transaction results in a contract from '~ contractCorp ~' (the corp) to you (the player).</p>'
    %}
{% elseif transaction.type == 'SRP' %}
    {% set instructions =
    '<p>This transaction requires that you lost a SRP eligible ship during an eligible PvP engagement.'
    %}
{% endif %}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Transaction Details</h4>
    <!-- /.box-tools -->
</div>
<div class="modal-body" >
    <div class="buyback-results-container">
        <div>
            <div class="col-md-6">
                    {{ instructions | raw }}
            </div>
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>Order Id:</th>
                        <td>{{ transaction.orderid }}</td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td>{{ transaction.status }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td><span class="label label-success">Material Sale</span></td>
                    </tr>
                    <tr>
                        <th>From:</th>
                        {% if transaction.user == null %}
                            <td>Guest</td>
                        {% else %}
                            <td>{{ transaction.user.username }}</td>
                        {% endif %}
                    </tr>
                    <tr>
                        <th>Amount:</th>
                        <td>{{ transaction.net|number_format(0, '.', ',') }}</td>
                    </tr>
                </table>
            </div>
            <div>
                <table class="table table-striped images-table">
                    <tr>
                        <th style="width:100px;">Quantity</th>
                        <th>Item</th>
                        <th>Unit Price</th>
                        <th>Net Price</th>
                    </tr>
                    {% for item in transaction.lineitems %}
                        <tr>
                            <td>{{ item.quantity|number_format(0, '.', ',') }}</td>
                            <td><img src="https://image.eveonline.com/Type/{{item.TypeId}}_32.png" /><span data-toggle="tooltip" data-placement="right" title="Id: {{item.typeid}}">{{ item.name }}</span></td>
                            {% set unit_price = item.marketprice * ((100-item.tax)/100) %}
                            <td>{{ unit_price|number_format(2,'.',',') }}</td>
                            <td>{{ item.netprice|number_format(2,'.',',') }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    {% if transaction.status == 'Pending' %}
        <button type="button" id="processDecline-button" class="btn btn-danger" data-dismiss="modal">Cancel Transaction</button>
    {% endif %}
    <button type="button" id="viewtransaction-button" class="btn btn-info" data-dismiss="modal">Ok</button>
</div>

{% block javascripts %}

<script type="text/javascript">
    $(document).ready(function (e) {


        $("#processDecline-button").click(function (e) {

            $.post('{{path('ajax_decline_transaction')}}', {id: "{{ transaction.orderid }}"},
                function(response)
                {
                    //update UI in table
                    $("#row-{{transaction.orderid}}").toggleClass("danger");
                    $("#row-{{transaction.orderid}} .label-success").removeClass("label-success").addClass("label-danger").html("Cancelled");

                    //update info boxes
                    updateInfoBox($("#pendingSales"), -1);
                    updateInfoBox($("#pendingIncome"), {{ transaction.net * -1 }});

                    {% if is_granted('ROLE_ADMIN') %}
                        updatePurchaseQueueBadge(-1);
                    {% endif %}
                }
                , "html");

        });


    });

</script>
{% endblock %}
