{% extends 'doc_base.html.twig' %}

{% block tableofcontents %}

    <ul>
        {% for tmpChapter in toc %}
            <li class="toctree-l1"><a class="reference internal" href="{{path('pages', {'chapter_slug': tmpChapter.Slug})}}"><span class="chapterid">{{tmpChapter.ChapterNumber}}</span> {{tmpChapter.Title}}</a></li>
        {% endfor %}
    </ul>

{% endblock %}

{% block body %}
    <div role="navigation" aria-label="breadcrumbs navigation">
        <hr>
    </div>
    <div role="main" class="document" itemscope="itemscope">
        <div itemprop="articleBody">
            <h1>Edit Chapter</h1>
            {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.chapternumber) }}
                    {{ form_errors(form.chapternumber) }}
                    {{ form_widget(form.chapternumber) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_errors(form.slug) }}
                    {{ form_widget(form.slug) }}
                </div>
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                </div>

                <div>
                    {{ form_widget(form.save) }}
                </div>

            {{ form_end(form) }}
        </div>
    </div>
    <footer>
        <hr>
        <div role="contentinfo">
            <p>© Copyright 2016, Allied Industries.</p>
        </div>
    </footer>
{% endblock %}
