{% extends 'doc_base.html.twig' %}

{% block tableofcontents %}

    <ul>
        {% for tmpChapter in toc %}
            {% if chapter_slug == tmpChapter.slug %}
                <li class="toctree-l1 current"><a class="reference internal" href="{{path('pages', {'chapter_slug': tmpChapter.Slug})}}">{{tmpChapter.Title}}</a>
                    <ul class="current">
                        {% for topic in tmpChapter.Topics %}
                            {% if topic_slug == topic.Slug %}
                                <li class="toctree-l2 current"><a class="current reference internal" href="{{ path('pages', {'chapter_slug': tmpChapter.Slug, 'topic_slug': topic.Slug}) }}">{{topic.Title}}</a><ul></ul></li>
                            {% else %}
                                <li class="toctree-l2"><a class="reference internal" href="{{ path('pages', {'chapter_slug': tmpChapter.Slug, 'topic_slug': topic.Slug}) }}">{{topic.Title}}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="toctree-l1"><a class="reference internal" href="{{path('pages', {'chapter_slug': tmpChapter.Slug})}}">{{tmpChapter.Title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{% block body %}
    <div role="navigation" aria-label="breadcrumbs navigation">
        {% if is_granted('ROLE_EDITOR') %}
            <a href="{{path('new_topic', {'id':chapter.Id})}}" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i> New Topic</a>
            <a href="{{path('edit_topic', {'id':topic.Id})}}" class="btn btn-warning"><i class="fa fa-pencil-square" aria-hidden="true"></i> Edit Topic</a>
            <a href="{{path('delete_topic', {'id':topic.Id})}}" class="btn btn-danger pull-right"><i class="fa fa-trash" aria-hidden="true"></i> Delete Topic</a>
        {% endif %}
        <hr>
    </div>
    <div role="main" class="document" itemscope="itemscope">
        <div itemprop="articleBody">
            <h1>{{topic.Title}}</h1>
            {{topic.Content|raw}}
        </div>
    </div>
    <footer>
        <hr>
        <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
            {% if nexttopic != null %}
                <a href="{{ path('pages', {'chapter_slug': nexttopic.Chapter.Slug, 'topic_slug': nexttopic.Slug}) }}" class="btn btn-neutral float-right" title="{{nexttopic.Title}}" accesskey="n">Next <span class="fa fa-arrow-circle-right"></span></a>
            {% endif %}
            {% if prevtopic != null %}
                <a href="{{ path('pages', {'chapter_slug': prevtopic.Chapter.Slug, 'topic_slug': prevtopic.Slug}) }}" class="btn btn-neutral" title="{{prevtopic.Title}}" accesskey="p"><span class="fa fa-arrow-circle-left"></span> Previous</a>
            {% endif %}
        </div>
        <div role="contentinfo">
            <p>© Copyright 2016, Allied Industries.</p>
        </div>
    </footer>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

    $(document).ready(function (e) {

        $("div[itemprop='articleBody'] H2").each(function() {

            $(".toctree-l2.current UL").append('<li class="toctree-l3"><a class="reference internal" href="#' +  $(this).html() + '">' +  $(this).html() + '</a></li>')
            $(this).wrapInner('<a name="' + $(this).html() + '"/>');
        });

    });

</script>

{% endblock %}
