{% extends 'doc_base.html.twig' %}

{% block tableofcontents %}

    <ul>
        {% for tmpChapter in toc %}
            {% if chapter_slug == tmpChapter.slug %}
                <li class="toctree-l1 current"><a class="reference internal" href="{{path('pages', {'chapter_slug': tmpChapter.Slug})}}">{{tmpChapter.Title}}</a>
                    <ul class="current">
                        {% for topic in tmpChapter.Topics %}
                            <li class="toctree-l2"><a class="reference internal" href="{{ path('pages', {'chapter_slug': tmpChapter.Slug, 'topic_slug': topic.Slug}) }}"><span class="topicid">{{topic.TopicNumber}}</span>{{topic.Title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="toctree-l1"><a class="reference internal" href="{{path('pages', {'chapter_slug': tmpChapter.Slug})}}">{{tmpChapter.Title}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{% block body %}
    <div role="navigation" aria-label="breadcrumbs navigation">
        <hr>
    </div>
    <div role="main" class="document" itemscope="itemscope">
        <div itemprop="articleBody">
            <h1>Edit Topic</h1>
            {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.topicnumber) }}
                    {{ form_errors(form.topicnumber) }}
                    {{ form_widget(form.topicnumber) }}
                    <span id="helpBlock">This is a numeric field representing the placement of the chapter in the Table of Contents on the left.  If assigned the
                    same number as an existing item then this item will be inserted at the index listed and other items will be moved down.</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.slug) }}
                    {{ form_errors(form.slug) }}
                    {{ form_widget(form.slug) }}
                    <span id="helpBlock">This is a string field representing the unique text id of this Chapter.  This should be unique to the entire Table
                        of Contents on the left and should not contain spaces!</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.title) }}
                    {{ form_errors(form.title) }}
                    {{ form_widget(form.title) }}
                    <span id="helpBlock">This is a string field for the Title that will show up in the Table of Contents on the left.</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.isPublic) }}
                    {{ form_errors(form.isPublic) }}
                    {{ form_widget(form.isPublic) }}
                    <span id="helpBlock">If this topic is marked as Public then anyone can view it using a direct link to the article.</span>
                </div>
                <div class="form-group">
                    {{ form_label(form.content) }}
                    {{ form_errors(form.content) }}
                    {{ form_widget(form.content) }}
                    <span id="helpBlock">Note: Heading 2 will show up in the Table of Contents on the left.</span>
                </div>

                <div>
                    {{ form_widget(form.save) }}
                </div>

            {{ form_end(form) }}
        </div>
    </div>
    <footer>
        <hr>
        <div role="contentinfo">
            <p>© {{ corpCopyright }}</p>
        </div>
    </footer>
    <script>
      $(function () {
        // Replace the <textarea id="editor1"> with a CKEditor
        // instance, using default configuration.
        CKEDITOR.replace('form_content');
        //bootstrap WYSIHTML5 - text editor
        //$(".textarea").wysihtml5();
      });
    </script>
{% endblock %}
