{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-share" aria-hidden="true"></i> Submit Items</h3>
                </div>
                <div class="box-body">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-archive" aria-hidden="true"></i> Sell or Reprocess</h3>
                </div><!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped images-table" id="compare-table">
                        <tr>
                            <th>Item</th>
                            <th>Jita Price</th>
                            <th>Refining Price</th>
                            <th>Decision</th>
                        </tr>
                        {% if items == null %}
                            <tr><td colspan="5">No items to display</td></tr>
                        {% else %}
                            {% for item in items %}
                                <tr class="{{ item.Decision == 'Sell' ? 'success' : '' }}">
                                    <td><img src="https://image.eveonline.com/Type/{{item.TypeId}}_32.png" />{{ item.Name }}</td>
                                    <td style="width:150px;">{{ item.UnitPrice|number_format(0, '.', ',') }}</td>
                                    <td style="width:150px;">{{ item.RefinePrice|number_format(0, '.', ',') }}</td>
                                    <td style="width:150px;">{{ item.Decision }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}