<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}IBG Error{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/blue.css') }}" />
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="hold-transition login-page">

        <div class="login-box">
            <div class="login-logo">
              <a href="../../index2.html">
                <b>Am</b>SYS</a>
            </div>

            {{ include('elements/flash.html.twig') }}

            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">In Game Browser Not Supported!</p>
                <p>Unfortunately AmSYS does not work with the In Game Browser
                    as the rendering engine is too old to support AmSYS features.
                      Please Alt-Tab and use a full browser.</p>
            </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->
        {% block body %}{% endblock %}
    </body>
</html>
