<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Login{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/blue.css') }}" />
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="hold-transition login-page">

        <div class="login-box">
            <div class="login-logo">
              <a href="{{path('homepage')}}">
                <b>Og</b>SYS</a>
            </div>

            {% if error %}
                <div class="callout callout-danger">{{ error.message }}</div>
            {% endif %}
            {{ include('elements/flash.html.twig') }}

            <!-- /.login-logo -->
            <div class="login-box-body">

                <div id="login_main" style="text-align:center; margin-top:25px;">
                    <a href="{{ login_url }}"><img src="{{ asset('images/EVE_SSO_Login_Buttons_Large_Black.png') }}"/></a>
                    <hr />
                    <p style="margin-top:10px;">
                        Eve SSO is used only to verify your identity and Corporation/Alliance affiliation
                    </p>
                    <p>
                        <a href="https://support.eveonline.com/hc/en-us/articles/205381192-Single-Sign-On-SSO" target="_blank">Click here for more information on Eve SSO</a>
                    </p>

                </div>

            </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->
        {% block body %}{% endblock %}

        <script src="{{ asset('/js/jQuery-2.1.4.min.js') }}"></script>
        <script src="{{ asset('/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('/js/icheck.min.js') }}"></script>
    </body>
</html>
