<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Register{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/AdminLTE.min.css') }}" />
        {% block stylesheets %}{% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="hold-transition register-page">

    <div class="register-box">
        <div class="register-logo">
            <a href="{{ path('homepage') }}"><b>Og</b>SYS</a>
        </div>

        {{ include('elements/flash.html.twig') }}

        <div class="register-box-body">
            <div id="register_main" style="text-align:center;">
                <p class="login-box-msg">Register a new membership</p>
                <a href="/"><img src="{{ asset('images/EVE_SSO_Login_Buttons_Large_Black.png') }}"/></a>
                <p style="margin-top:10px;">
                    Eve SSO is used only to verify your identity and Corporation/Alliance affiliation.  You will be
                    prompted to create site specific login details after SSO Authentication.
                </p>
            </div>
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->


    <script src="{{ asset('/js/jQuery-2.1.4.min.js') }}"></script>
    <script src="{{ asset('/js/bootstrap.min.js') }}"></script>

    {% block javascripts %}{% endblock %}

    </body>
</html>
