<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Password Reset{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/AdminLTE.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('/css/blue.css') }}" />
        {% block stylesheets %}{% endblock %}
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    </head>
    <body class="hold-transition login-page">

        <div class="login-box">
            <div class="login-logo">
              <a href="{{path('homepage')}}">
                <b>Am</b>SYS</a>
            </div>

            {{ include('elements/flash.html.twig') }}

            <!-- /.login-logo -->
            <div class="login-box-body">
                <p class="login-box-msg">Enter your email, if you have an account instructions will be sent to you.</p>
                <form action="{{ path('reset_password') }}" method="post">

                    <div class="form-group has-feedback">
                        <input class="form-control" placeholder="Email" id="email" type="text" name="email">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8">

                        </div>
                        <div class="col-xs-4">
                            <button class="btn btn-primary btn-block btn-flat" type="submit">Send Email</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

            </div>
        <!-- /.login-box-body -->
      </div>
      <!-- /.login-box -->
        {% block body %}{% endblock %}
    </body>
</html>
