{% extends 'secure_base.html.twig' %}

{% block body %}

    <section class="content-header">
        <h1>
            Permissions
            <small>Authorization/Whitelist used to allow access to BuySYS</small>
        </h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-clipboard" aria-hidden="true"></i> Manual Authorization
                        </h3>
                        <p/>
                        <p style="margin-left: 12px;">
                            Manual authorization uses manually configured corporation/alliance affiliations to manage
                            who has access to which roles. <br/>
                            Manual authorization is additive to Automatic Authoriztion; A manual authorization takes
                            priority if there is a conflict. <br/>
                            If two manual authorizations affect the same user, the corporation role will take priority
                            over the alliance role. <br/>
                            'Default Access' is lowest priority - it only applies if no other rule affects the user.
                        </p>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" class="form-control" id="corp-search-input" name="corp-search-input"
                                       placeholder="Search for Alliance/Corporations to Add">
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2">
                                <input type="button" class="form-control btn btn-primary" id="corp-search-button"
                                       name="corp-search-input" value="Search">
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <div class="row">
                            <div class="col-md-12">
                                <table id="manual-table" class="table table-striped images-table top-margin-20">
                                    <thead>
                                    <tr>
                                        <th style="width:50%;">Name</th>
                                        <th style="width:23%;">Applied Role <a
                                                    href="https://github.com/binarygod/AmSYS/wiki/6.-Authorization-(User-Roles-and-Entitlements)"
                                                    target="_blank"><span class="fa fa-info-circle text-info"
                                                                          style="margin-left: 5px;"></span></a></th>
                                        <th>Type</th>
                                        <th style="width:7%;">Actions</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for item in items %}
                                        <tr>
                                            {% if item.type == 'A' %}
                                                {% set type = 'Alliance' %}
                                            {% elseif item.type == 'C' %}
                                                {% set type = 'Corporation' %}
                                            {% else %}
                                                {% set type = item.type %}
                                            {% endif %}

                                            <td>
                                                {% if item.eveid != -999 %}
                                                    <img src="https://image.eveonline.com/{{ type }}/{{ item.eveid }}_32.png"
                                                         style="margin-right: 20px;">
                                                {% endif %}
                                                {{ item.name }}
                                            </td>

                                            <td>
                                                <select data-id="{{ item.eveid }}" data-name="{{ item.name }}"
                                                        data-type="{{ item.type }}" name="manualRoleSelect"
                                                        class="form-control roleSelect"
                                                        style="height: auto; width:auto;">
                                                    {% for role in roles %}
                                                        {% if item.role == role %}
                                                            <option value="{{ role }}" selected>{{ role }}</option>
                                                        {% else %}
                                                            <option value="{{ role }}">{{ role }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>

                                            <td>{{ type }}</td>
                                            <td>
                                                {% if item.eveid != -999 %}
                                                    <a href="{{ path('admin_authorization_delete', {'id': item.id}) }}"
                                                       class="btn btn-danger btn-xs"><i class="fa fa-times"
                                                                                        aria-hidden="true"></i>
                                                        Delete</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">

        function doCorpSearch() {
            $("#base_modal_content").html("<div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");
            $('#base_modal').modal({backdrop: "static"});

            $.post('{{ path('ajax_CorpSearch') }}', {searchstring: $("#corp-search-input").val()},
                function (response) {
                    $("#base_modal_content").html(response);
                }
                , "html");

            $("#search-input").val("");
        }

        function doContactUpdate() {
            $("#base_modal_content").html("<div style='text-align: center; font-size:200%; padding-top: 8%;'>Loading Contacts.  Please be patient, this may take a moment.</div><br /><div class='modal-loading' style='font-size:52px;'><i class='fa fa-refresh fa-spin'></i></div>");
            $('#base_modal').modal({backdrop: "static"});

            $.post('{{ path('ajax_update_contacts') }}', {
                    'apiKey': $("#contact-api-key").val(),
                    'apiCode': $("#contact-api-code").val()
                },
                function (response) {
                    $("#base_modal_content").html("<div style='text-align: center; padding-top: 10%; padding-bottom:10%; font-size: 250%'>" + response + "</div>");

                    var $timeout;
                    if (response.indexOf("ERROR") >= 0) {
                        $timeout = 2500;
                    }
                    else {
                        $timeout = 750;
                    }

                    setTimeout(
                        function () {
                            location.reload();
                        }, $timeout)
                }
                , "html");
        }

        $(document).ready(function (e) {
            $('#manual-table').DataTable({
                "order": [[0, "desc"]],

                "drawCallback": function (settings) {
                    multiselect();
                    bindRoleOverride();
                    bindEntitlementOverride();
                }
            });

            $("#corp-search-button").click(function (e) {
                doCorpSearch();
            })

            $("#corp-search-input").keydown(function (e) {
                if (e.keyCode == 13) {
                    doCorpSearch();
                }
            });

            $("#contact-button").click(function (e) {
                doContactUpdate();
            });
        });


        function bindRoleOverride() {
            $('.roleSelect').on('change', function () {

                $eveid = $(this).attr("data-id");
                $name = $(this).attr("data-name");
                $type = $(this).attr("data-type");

                $.post('{{ path('ajax_update_auth_role') }}', {
                        'role': this.value,
                        'eveid': $eveid,
                        'name': $name,
                        'type': $type
                    },
                    function (response) {

                    }
                    , "html");
            });
        }

        function bindEntitlementOverride() {
            $('.entitlementsSelect').on('change', function () {

                $eveid = $(this).attr("data-id");
                $name = $(this).attr("data-name");
                $type = $(this).attr("data-type");

                $values = $('#ms' + $eveid + " option:selected").map(function (a, item) {
                    return item.value;
                });

                $valueArray = $.map($values, function (value, index) {
                    return [value];
                });
                $valueString = $valueArray.join(",");

                $.post('{{ path('ajax_update_auth_entitlements') }}', {
                        'entitlements': $valueString,
                        'eveid': $eveid,
                        'name': $name,
                        'type': $type
                    },
                    function (response) {

                    }
                    , "html");
            });
        }

        function multiselect() {
            $('.entitlementsSelect').multiselect({
                numberDisplayed: 0,
                buttonWidth: '100%'
            });

            $('.roleSelect').multiselect({
                numberDisplayed: 1,
                buttonWidth: '100%'
            });
        }


    </script>

{% endblock %}
